Q HTML
< a b c d e f g h i j k l m n o p q r s t u v w x y z A B C D E F G H I J K L M N O P Q > /

Q
Z0


(Q \eps Z0) = HTML | HTML
(HTML \eps Q) = Q |

(HTML \eps HTML) = HTML | WS < WS HTML_TAG WS > WS HEAD WS BODY WS < WS / WS HTML_TAG WS > WS
#(HTML \eps HTML) = HTML | WS
(HTML \eps HTML_TAG) = HTML | h t m l
(HTML \eps WS) = WS | WS HTML
(WS \eps HTML) = HTML |
(HTML \eps BODY) = BODY | BODY HTML
(BODY \eps HTML) = HTML |
(HTML \eps HEAD) = HEAD | HEAD HTML
(HEAD \eps HTML) = HTML |
(HTML \eps K) = K | K HTML

(HEAD \eps HEAD) = HEAD | < WS HEAD_TAG WS > WS HEAD_EL WS < WS / WS HEAD_TAG WS >
(HEAD \eps HEAD_TAG) = HEAD | h e a d
(HEAD \eps WS) = WS | WS HEAD
(WS \eps HEAD) = HEAD |
(HEAD \eps HEAD_EL) = HEAD_EL | HEAD_EL HEAD
(HEAD_EL \eps HEAD) = HEAD |

#Handling Title 
(TITLE \eps TITLE) = TITLE | < WS TITLE_TAG WS > WS < WS / WS TITLE_TAG WS > 
(TITLE \eps TITLE_TAG) = TITLE | t i t l e
(TITLE \eps WS) = WS | WS TITLE
(WS \eps TITLE) = TITLE |
(TITLE \eps TITLE_EL) = TITLE_EL | TITLE_EL TITLE
(TITLE_EL \eps TITLE) = TITLE |
(TITLE \eps HEAD_EL) = HEAD_EL |

# Handling PARAGRAPH
(PARAGRAPH \eps PARAGRAPH) = PARAGRAPH | < WS P_TAG WS > WS < WS / WS P_TAG WS >
(PARAGRAPH \eps P_TAG) = PARAGRAPH | p
(PARAGRAPH \eps WS) = WS | WS PARAGRAPH
(WS \eps PARAGRAPH) = PARAGRAPH |
(PARAGRAPH \eps P_EL) = P_EL | P_EL PARAGRAPH
(P_EL \eps PARAGRAPH) = PARAGRAPH |
(PARAGRAPH \eps BODY_EL) = BODY |

# Handling DIV
(DIV \eps DIV) = DIV | < WS DIV_TAG WS > WS BODY_EL WS < WS / WS DIV_TAG WS > 
(DIV \eps DIV_TAG) = DIV | d i v
(DIV \eps WS) = WS | WS DIV
(WS \eps DIV) = DIV |
(DIV \eps DIV_EL) = DIV_EL | DIV_EL DIV
(DIV_EL \eps DIV) = DIV |
(DIV \eps BODY_EL) = BODY |
(DIV \eps BODY_EL) = BODY | DIV BODY_EL
(BODY \eps DIV) = DIV |

#Handling H1
#(H1 \eps H1) = H1 | < WS H1_TAG WS > WS < WS / WS H1_TAG WS >
#(H1 \eps H1_TAG) = H1 | h 1
#(H1 \eps WS) = WS | WS H1
#(WS \eps H1) = H1 |
#(H1 \eps H1_EL) = H1_EL | H1_EL H1
#(H1_EL \eps H1) = H1 |
#(H1 \eps BODY_EL) = BODY |

#Handling Body
(BODY \eps BODY) = BODY | < WS BODY_TAG WS > WS BODY_EL WS < WS / WS BODY_TAG WS >
(BODY \eps BODY_TAG) = BODY | b o d y
(BODY \eps WS) = WS | WS BODY
(WS \eps BODY) = BODY |
(BODY \eps BODY_EL) = BODY_EL | BODY_EL
(BODY_EL \eps BODY) = BODY |


(HEAD_EL \eps HEAD_EL) = HEAD_EL |
(HEAD_EL \eps HEAD_EL) = TITLE | TITLE HEAD_EL

(BODY_EL \eps BODY_EL) = BODY_EL |
(BODY_EL \eps BODY_EL) = PARAGRAPH | PARAGRAPH BODY_EL
(BODY_EL \eps BODY_EL) = DIV | DIV BODY_EL
#(BODY_EL \eps BODY_EL) = H1 | H1 BODY_EL

# Handle whitespace
(WS \eps WS) = WS |
(WS \space WS) = WS | WS
(WS \newline WS) = WS | WS
#(WS \eps WS) = WS | WSF WS
#(WS a WSF) = WS |
#(WS \$1 \$2) = \$1 |
