Q HTML
< a b c d e f g h i j k l m n o p q r s t u v w x y z A B C D E F G H I J K L M N O P Q > /

Q
Z0


(Q \eps Z0) = HTML | HTML
(HTML \eps Q) = Q |

(HTML \eps HTML) = HTML | WS < WS HTML_TAG WS > WS HEAD WS BODY WS < WS / WS HTML_TAG WS > WS
#(HTML \eps HTML) = HTML | WS
(HTML \eps HTML_TAG) = HTML | h t m l
(HTML \eps WS) = WS | WS HTML
(WS \eps HTML) = HTML |
(HTML \eps BODY) = BODY | BODY HTML
(BODY \eps HTML) = HTML |
(HTML \eps HEAD) = HEAD | HEAD HTML
(HEAD \eps HTML) = HTML |
(HTML \eps K) = K | K HTML

(HEAD \eps HEAD) = HEAD | < WS HEAD_TAG WS > WS HEAD_EL WS < WS / WS HEAD_TAG WS >
(HEAD \eps HEAD_TAG) = HEAD | h e a d
(HEAD \eps WS) = WS | WS HEAD
(WS \eps HEAD) = HEAD |
(HEAD \eps HEAD_EL) = HEAD_EL | HEAD_EL HEAD
(HEAD_EL \eps HEAD) = HEAD |

(HEAD_EL \eps HEAD_EL) = HEAD_EL |

(BODY \eps BODY) = BODY | < WS BODY_TAG WS > WS WS < WS / WS BODY_TAG WS >
(BODY \eps BODY_TAG) = BODY | b o d y
(BODY \eps WS) = WS | WS BODY
(WS \eps BODY) = BODY |
(BODY \eps BODY_EL) = BODY_EL | BODY_EL BODY
(BODY_EL \eps BODY) = BODY |


(BODY_EL \eps BODY_EL) = BODY_EL |

# Handle whitespace
(WS \eps WS) = WS |
(WS \space WS) = WS |
(WS \space WS) = WS | WS
(WS \newline WS) = WS |
(WS \newline WS) = WS | WS
#(WS \eps WS) = WS | WSF WS
#(WS a WSF) = WS |
#(WS \$1 \$2) = \$1 |