Q HTML
< a b c d e f g h i j k l m n o p q r s t u v w x y z A B C D E F G H I J K L M N O P Q . > / " = 1 2 3 4 5 6 7 8 9 0

Q
Z0


(Q \eps Z0) = HTML | HTML

(HTML \eps HTML) = HTML | WS < WS HTML_TAG WS > WS HEAD WS BODY WS < WS / WS HTML_TAG WS > WS
(HTML \eps HTML_TAG) = HTML | h t m l
(HTML \eps WS) = WS | WS HTML
(WS \eps HTML) = HTML |
(HTML \eps HEAD) = HEAD | HEAD HTML
(HEAD \eps HTML) = HTML |
(HTML \eps BODY) = BODY | BODY HTML
(BODY \eps HTML) = HTML |

(BODY \eps BODY) = BODY | WS < WS BODY_TAG WS > WS BODY_CHILD WS < WS / WS BODY_TAG WS > WS
(BODY \eps BODY_TAG) = BODY | b o d y
(BODY \eps WS) = WS | WS BODY
(WS \eps BODY) = BODY |
(BODY \eps HTML) = HTML |
(BODY \eps BODY_CHILD) = BODY_CHILD | BODY_CHILD BODY
(BODY_CHILD \eps BODY) = BODY |

(BODY_CHILD_BASE \eps BODY_CHILD_BASE) = BODY_CHILD_BASE | DIV
(BODY_CHILD_BASE \eps BODY_CHILD_BASE) = BODY_CHILD_BASE | TABLE
(BODY_CHILD_BASE \eps BODY_CHILD_BASE) = BODY_CHILD_BASE | H
(BODY_CHILD_BASE \eps DIV) = DIV | DIV BODY_CHILD_BASE
(DIV \eps BODY_CHILD_BASE) = BODY_CHILD_BASE |
(BODY_CHILD_BASE \eps TABLE) = TABLE | TABLE BODY_CHILD_BASE
(TABLE \eps BODY_CHILD_BASE) = BODY_CHILD_BASE |
(BODY_CHILD_BASE \eps H) = H | H BODY_CHILD_BASE
(H \eps BODY_CHILD_BASE) = BODY_CHILD_BASE |

(BODY_CHILD \eps BODY_CHILD) = BODY_CHILD |
(BODY_CHILD \eps BODY_CHILD) = BODY_CHILD | BODY_CHILD_BASE WS BODY_CHILD
(BODY_CHILD \eps BODY_CHILD_BASE) = BODY_CHILD_BASE | BODY_CHILD_BASE BODY_CHILD
(BODY_CHILD_BASE \eps BODY_CHILD) = BODY_CHILD | 
(BODY_CHILD \eps WS) = WS | WS BODY_CHILD
(WS \eps BODY_CHILD) = BODY_CHILD |

(DIV \eps DIV) = DIV | < WS DIV_TAG WS > WS BODY_CHILD WS < WS / WS DIV_TAG WS >
(DIV \eps DIV_TAG) = DIV | d i v
(DIV \eps WS) = WS | WS DIV
(WS \eps DIV) = DIV | 
(DIV \eps BODY_CHILD) = BODY_CHILD | BODY_CHILD DIV
(BODY_CHILD \eps DIV) = DIV |

(TABLE \eps TABLE) = TABLE | < WS TABLE_TAG WS > WS < WS / WS TABLE_TAG WS >
(TABLE \eps TABLE_TAG) = TABLE | t a b l e
(TABLE \eps WS) = WS | WS TABLE
(WS \eps TABLE) = TABLE |

(TITLE \eps TITLE) = TITLE | < WS TITLE_TAG WS > WS < WS / WS TITLE_TAG WS >
(TITLE \eps TITLE_TAG) = TITLE | t i t l e
(TITLE \eps WS) = WS | WS TITLE
(WS \eps TITLE) = TITLE |


(SCRIPT \eps SCRIPT) = SCRIPT | < WS SCRIPT_TAG WS > WS < WS / WS SCRIPT_TAG WS > 
(SCRIPT \eps SCRIPT_TAG) = SCRIPT | s c r i p t
(SCRIPT \eps WS) = WS | WS SCRIPT
(WS \eps SCRIPT) = SCRIPT |

(LINK \eps LINK) = LINK | < WS LINK_TAG WS LINK_ATTRIB WS OPTIONAL_SLASH >
(LINK \eps LINK_ATTRIB) = LINK_ATTRIB | LINK_ATTRIB LINK
(LINK_ATTRIB \eps LINK) = LINK |
(LINK \eps OPTIONAL_SLASH) = LINK |
(LINK \eps OPTIONAL_SLASH) = LINK | / WS
(LINK \eps LINK_TAG) = LINK | l i n k
(LINK \eps WS) = WS | WS LINK
(WS \eps LINK) = LINK |

(LINK_ATTRIB \eps LINK_ATTRIB) = LINK_ATTRIB | OPTIONAL_HREF_L r e l WS = WS " W " OPTIONAL_HREF_R
(LINK_ATTRIB \eps OPTIONAL_HREF_L) = LINK_ATTRIB | OPTIONAL_HREF WS
(LINK_ATTRIB \eps OPTIONAL_HREF_R) = LINK_ATTRIB | WS OPTIONAL_HREF
(LINK_ATTRIB \eps OPTIONAL_HREF) = LINK_ATTRIB | h r e f WS = WS " W "
(LINK_ATTRIB \eps OPTIONAL_HREF) = LINK_ATTRIB |
(LINK_ATTRIB \eps W) = W | W LINK_ATTRIB
(W \eps LINK_ATTRIB) = LINK_ATTRIB | 
(LINK_ATTRIB \eps WS) = WS | WS LINK_ATTRIB
(WS \eps LINK_ATTRIB) = LINK_ATTRIB |

(HEAD \eps HEAD) = HEAD | < WS HEAD_TAG WS > WS HEAD_CHILD WS < WS / WS HEAD_TAG WS >
(HEAD \eps HEAD_TAG) = HEAD | h e a d
(HEAD \eps WS) = WS | WS HEAD
(WS \eps HEAD) = HEAD |
(HEAD \eps HEAD_CHILD) = HEAD_CHILD | HEAD_CHILD HEAD
(HEAD_CHILD \eps HEAD) = HEAD |

(HEAD_CHILD_BASE \eps HEAD_CHILD_BASE) = HEAD_CHILD_BASE | TITLE
(HEAD_CHILD_BASE \eps HEAD_CHILD_BASE) = HEAD_CHILD_BASE | SCRIPT
(HEAD_CHILD_BASE \eps HEAD_CHILD_BASE) = HEAD_CHILD_BASE | LINK
(HEAD_CHILD_BASE \eps TITLE) = TITLE | TITLE HEAD_CHILD_BASE
(TITLE \eps HEAD_CHILD_BASE) = HEAD_CHILD_BASE |
(HEAD_CHILD_BASE \eps SCRIPT) = SCRIPT | SCRIPT HEAD_CHILD_BASE
(SCRIPT \eps HEAD_CHILD_BASE) = HEAD_CHILD_BASE |
(HEAD_CHILD_BASE \eps LINK) = LINK | LINK HEAD_CHILD_BASE
(LINK \eps HEAD_CHILD_BASE) = HEAD_CHILD_BASE |

(HEAD_CHILD \eps HEAD_CHILD) = HEAD_CHILD |
(HEAD_CHILD \eps HEAD_CHILD) = HEAD_CHILD | HEAD_CHILD_BASE WS HEAD_CHILD
(HEAD_CHILD \eps HEAD_CHILD_BASE) = HEAD_CHILD_BASE | HEAD_CHILD_BASE HEAD_CHILD
(HEAD_CHILD_BASE \eps HEAD_CHILD) = HEAD_CHILD |
(HEAD_CHILD \eps WS) = WS | WS HEAD_CHILD
(WS \eps HEAD_CHILD) = HEAD_CHILD |

#Handing H
(H \eps H) = H | H1
(H \eps H) = H | H2
(H \eps H) = H | H3
(H \eps H) = H | H4
(H \eps H) = H | H5
(H \eps H) = H | H6
(H \eps H1) = H1 | H1 H
(H1 \eps H) = H |
(H \eps H2) = H2 | H2 H
(H2 \eps H) = H |
(H \eps H3) = H3 | H3 H
(H3 \eps H) = H |
(H \eps H4) = H4 | H4 H
(H4 \eps H) = H |
(H \eps H5) = H5 | H5 H
(H5 \eps H) = H |
(H \eps H6) = H6 | H6 H
(H6 \eps H) = H |

#handling H1
(H1 \eps H1) = H1 | < WS H1_TAG WS > WS W WS < WS / WS H1_TAG WS >
(H1 \eps H1_TAG) = H1 | h 1
(H1 \eps BODY_CHILD_BASE) = BODY_CHILD_BASE | BODY_CHILD_BASE H1
(BODY_CHILD_BASE \eps H1) = H1 |
(H1 \eps BODY_CHILD_BASE) = BODY_CHILD_BASE |
(H1 \eps WS) = WS | WS H1
(WS \eps H1) = H1 |
(H1 \eps W) = W | W H1
(W \eps H1) = H1 |

#Handling H2
(H2 \eps H2) = H2 | < WS H2_TAG WS > WS < WS / WS H2_TAG WS > 
(H2 \eps H2_TAG) = H2 | h 2
(H2 \eps BODY_CHILD_BASE) = BODY_CHILD_BASE | BODY_CHILD_BASE H2
(BODY_CHILD_BASE \eps H2) = H2 |
(H2 \eps BODY_CHILD_BASE) = BODY_CHILD_BASE |
(H2 \eps WS) = WS | WS H2
(WS \eps H2) = H2 |
(WS \eps H2) = H2 |
(H2 \eps W) = W | W H2
(W \eps H2) = H2 |

#Handling H3
(H3 \eps H3) = H3 | < WS H3_TAG WS > WS < WS / WS H3_TAG WS >
(H3 \eps H3_TAG) = H3 | h 3
(H3 \eps BODY_CHILD_BASE) = BODY_CHILD_BASE | BODY_CHILD_BASE H3
(BODY_CHILD_BASE \eps H3) = H3 |
(H3 \eps BODY_CHILD_BASE) = BODY_CHILD_BASE |
(H3 \eps WS) = WS | WS H3
(WS \eps H3) = H3 |
(WS \eps H3) = H3 |
(H3 \eps W) = W | W H3
(W \eps H3) = H3 |

#Handling H4
(H4 \eps H4) = H4 | < WS H4_TAG WS > WS < WS / WS H4_TAG WS >
(H4 \eps H4_TAG) = H4 | h 4
(H4 \eps BODY_CHILD_BASE) = BODY_CHILD_BASE | BODY_CHILD_BASE H4
(BODY_CHILD_BASE \eps H4) = H4 |
(H4 \eps BODY_CHILD_BASE) BODY_CHILD_BASE |
(H4 \eps WS) = WS | WS H4
(WS \eps H4) = H4 |
(WS \eps H4) = H4 |
(H4 \eps W) = W | W H4
(W \eps H4) = H4 |

#Handling H5
(H5 \eps H5) = H5 | < WS H5_TAG WS > WS < WS / WS H5_TAG WS >
(H5 \eps H5_TAG) = H5 | h 5
(H5 \eps BODY_CHILD_BASE) = BODY_CHILD_BASE | BODY_CHILD_BASE H5
(BODY_CHILD_BASE \eps H5) = H5 |
(H5 \eps BODY_CHILD_BASE) BODY_CHILD_BASE |
(H5 \eps WS) = WS | WS H5
(WS \eps H5) = H5 |
(WS \eps H5) = H5 |
(H5 \eps W) = W | W H5
(W \eps H5) = H5 |

#Handling H6
(H6 \eps H6) = H6 | < WS H6_TAG WS > WS < WS / WS H6_TAG WS >
(H6 \eps H6_TAG) = H6 | h 6
(H6 \eps BODY_CHILD_BASE) = BODY_CHILD_BASE | BODY_CHILD_BASE H6
(BODY_CHILD_BASE \eps H6) = H6 |
(H6 \eps BODY_CHILD_BASE) BODY_CHILD_BASE |
(H6 \eps WS) = WS | WS H6
(WS \eps H6) = H6 |
(WS \eps H6) = H6 |
(H6 \eps W) = W | W H6
(W \eps H6) = H6 |


(WS \eps WS) = WS | 
(WS \space WS) = WS | WS
(WS \newline WS) = WS | WS

(WSN \eps WSN) = WSN |
(WSN \eps WSN) = WSN | WSB WSN
(WSN \eps WSB) = WSB | WSB WSN
(WSB \eps WSN) = WSN |

(WSB \eps WSB) = WSB | WSBC
(WSB \space WSBC) = WSB |
(WSB \newline WSBC) = WSB |


(WB a WB) = WB |
(WB b WB) = WB |
(WB c WB) = WB |
(WB d WB) = WB |
(WB e WB) = WB |
(WB f WB) = WB |
(WB g WB) = WB |
(WB h WB) = WB |
(WB i WB) = WB |
(WB j WB) = WB |
(WB k WB) = WB |
(WB l WB) = WB |
(WB m WB) = WB |
(WB n WB) = WB |
(WB o WB) = WB |
(WB p WB) = WB |
(WB q WB) = WB |
(WB r WB) = WB |
(WB s WB) = WB |
(WB t WB) = WB |
(WB u WB) = WB |
(WB v WB) = WB |
(WB w WB) = WB |
(WB x WB) = WB |
(WB y WB) = WB |
(WB z WB) = WB |
(WB / WB) = WB |
(WB . WB) = WB |
(W \eps W) = W |
(W \eps W) = W | WB W
(W \eps WB) = WB | WB W
(WB \eps W) = W |