Q HTML
< a b c d e f g h i j k l m n o p q r s t u v w x y z A B C D E F G H I J K L M N O P Q . > / " = 1 2 3 4 5 6 7 8 9 0

Q
Z0


(Q \eps Z0) = HTML | HTML

(HTML \eps HTML) = HTML | WS < WS HTML_TAG WS > WS HEAD WS BODY WS < WS / WS HTML_TAG WS > WS
(HTML \eps HTML_TAG) = HTML | h t m l
(HTML \eps WS) = WS | WS HTML
(WS \eps HTML) = HTML |
(HTML \eps HEAD) = HEAD | HEAD HTML
(HEAD \eps HTML) = HTML |
(HTML \eps BODY) = BODY | BODY HTML
(BODY \eps HTML) = HTML |

(BODY \eps BODY) = BODY | WS < WS BODY_TAG WS > WS BODY_CHILD WS < WS / WS BODY_TAG WS > WS
(BODY \eps BODY_TAG) = BODY | b o d y
(BODY \eps WS) = WS | WS BODY
(WS \eps BODY) = BODY |
(BODY \eps HTML) = HTML |
(BODY \eps BODY_CHILD) = BODY_CHILD | BODY_CHILD BODY
(BODY_CHILD \eps BODY) = BODY |

(BODY_CHILD_BASE \eps BODY_CHILD_BASE) = BODY_CHILD_BASE | DIV
(BODY_CHILD_BASE \eps BODY_CHILD_BASE) = BODY_CHILD_BASE | TABLE
(BODY_CHILD_BASE \eps BODY_CHILD_BASE) = BODY_CHILD_BASE | INPUT
(BODY_CHILD_BASE \eps BODY_CHILD_BASE) = BODY_CHILD_BASE | H
(BODY_CHILD_BASE \eps DIV) = DIV | DIV BODY_CHILD_BASE
(DIV \eps BODY_CHILD_BASE) = BODY_CHILD_BASE |
(BODY_CHILD_BASE \eps TABLE) = TABLE | TABLE BODY_CHILD_BASE
(TABLE \eps BODY_CHILD_BASE) = BODY_CHILD_BASE |
(BODY_CHILD_BASE \eps H) = H | H BODY_CHILD_BASE
(H \eps BODY_CHILD_BASE) = BODY_CHILD_BASE |
(BODY_CHILD_BASE \eps INPUT) = INPUT | INPUT BODY_CHILD_BASE
(INPUT \eps BODY_CHILD_BASE) = BODY_CHILD_BASE |

(BODY_CHILD \eps BODY_CHILD) = BODY_CHILD |
(BODY_CHILD \eps BODY_CHILD) = BODY_CHILD | BODY_CHILD_BASE WS BODY_CHILD
(BODY_CHILD \eps BODY_CHILD_BASE) = BODY_CHILD_BASE | BODY_CHILD_BASE BODY_CHILD
(BODY_CHILD_BASE \eps BODY_CHILD) = BODY_CHILD | 
(BODY_CHILD \eps WS) = WS | WS BODY_CHILD
(WS \eps BODY_CHILD) = BODY_CHILD |

(DIV \eps DIV) = DIV | < WS DIV_TAG WS > WS BODY_CHILD WS < WS / WS DIV_TAG WS >
(DIV \eps DIV_TAG) = DIV | d i v
(DIV \eps WS) = WS | WS DIV
(WS \eps DIV) = DIV | 
(DIV \eps BODY_CHILD) = BODY_CHILD | BODY_CHILD DIV
(BODY_CHILD \eps DIV) = DIV |

(TABLE \eps TABLE) = TABLE | < WS TABLE_TAG WS > WS THR WS < WS / WS TABLE_TAG WS >
(TABLE \eps TABLE) = TABLE | < WS TABLE_TAG WS > WS < WS / WS TABLE_TAG WS >
(TABLE \eps TABLE_TAG) = TABLE | t a b l e
(TABLE \eps WS) = WS | WS TABLE
(WS \eps TABLE) = TABLE |
(TABLE \eps THR) = THR | THR TABLE
(THR \eps TABLE) = TABLE | 

(TH_BASE \eps TH_BASE) = TH_BASE | < WS TH_TAG WS > WS TD WS < WS / WS TH_TAG WS >
(TH_BASE \eps TH_TAG) = TH_BASE | t h
(TH_BASE \eps WS) = WS | WS TH_BASE
(WS \eps TH_BASE) = TH_BASE |
(TH_BASE \eps TD) = TD | TD TH_BASE
(TD \eps TH_BASE) = TH_BASE |

(TR_BASE \eps TR_BASE) = TR_BASE | < WS TR_TAG WS > WS TD WS < WS / WS TR_TAG WS >
(TR_BASE \eps TR_TAG) = TR_BASE | t r
(TR_BASE \eps WS) = WS | WS TR_BASE
(WS \eps TR_BASE) = TR_BASE |
(TR_BASE \eps TD) = TD | TD TR_BASE
(TD \eps TR_BASE) = TR_BASE |

(THR \eps THR) = THR | 
(THR \eps THR) = THR | TH_BASE WS THR
(THR \eps THR) = THR | TR_BASE WS THR
(THR \eps WS) = WS | WS THR
(WS \eps THR) = THR |
(THR \eps TH_BASE) = TH_BASE | TH_BASE THR
(TH_BASE \eps THR) = THR |
(THR \eps TR_BASE) = TR_BASE | TR_BASE THR
(TR_BASE \eps THR) = THR |

(TD_BASE \eps TD_BASE) = TD_BASE | < WS TD_TAG WS > WS SENTENCE WS < WS / WS TD_TAG WS >
(TD_BASE \eps TD_TAG) = TD_BASE | t d
(TD_BASE \eps WS) = WS | WS TD_BASE
(WS \eps TD_BASE) = TD_BASE |
(TD_BASE \eps SENTENCE) = SENTENCE | SENTENCE TD_BASE
(SENTENCE \eps TD_BASE) = TD_BASE |

(TD \eps TD) = TD |
(TD \eps TD) = TD | TD_BASE WS TD
(TD \eps TD_BASE) = TD_BASE | TD_BASE TD
(TD_BASE \eps TD) = TD |
(TD \eps WS) = WS | WS TD
(WS \eps TD) = TD |

(INPUT \eps INPUT) = INPUT | < WS INPUT_TAG WSF INPUT_ATTRIB WS OPTIONAL_SLASH WS >
(INPUT \eps INPUT_TAG) = INPUT | i n p u t
(INPUT \eps OPTIONAL_SLASH) = INPUT | 
(INPUT \eps OPTIONAL_SLASH) = INPUT | /
(INPUT \eps WS) = WS | WS INPUT
(WS \eps INPUT) = INPUT |
(INPUT \eps INPUT_ATTRIB) = INPUT_ATTRIB | INPUT_ATTRIB INPUT
(INPUT_ATTRIB \eps INPUT) = INPUT |
(INPUT \eps WSF) = WSF | WSF INPUT
(WSF \eps INPUT) = INPUT |

(INPUT_ATTRIB \eps INPUT_ATTRIB) = INPUT_ATTRIB | t y p e = " INPUT_TYPE "
(INPUT_ATTRIB \eps INPUT_TYPE) = INPUT_ATTRIB | t e x t
(INPUT_ATTRIB \eps INPUT_TYPE) = INPUT_ATTRIB | p a s s w o r d
(INPUT_ATTRIB \eps INPUT_TYPE) = INPUT_ATTRIB | e m a i l
(INPUT_ATTRIB \eps INPUT_TYPE) = INPUT_ATTRIB | n u m b e r
(INPUT_ATTRIB \eps INPUT_TYPE) = INPUT_ATTRIB | c h e c k b o x

(FORM \eps FORM) = FORM | < WS FORM_TAG WS > WS < WS / WS FORM_TAG WS >
(FORM \eps FORM_TAG) = FORM | f o r m
(FORM \eps WS) = WS | WS FORM
(WS \eps FORM) = FORM |

(TITLE \eps TITLE) = TITLE | < WS TITLE_TAG WS > WS < WS / WS TITLE_TAG WS >
(TITLE \eps TITLE_TAG) = TITLE | t i t l e
(TITLE \eps WS) = WS | WS TITLE
(WS \eps TITLE) = TITLE |

(SCRIPT \eps SCRIPT) = SCRIPT | < WS SCRIPT_TAG WS > WS < WS / WS SCRIPT_TAG WS > 
(SCRIPT \eps SCRIPT_TAG) = SCRIPT | s c r i p t
(SCRIPT \eps WS) = WS | WS SCRIPT
(WS \eps SCRIPT) = SCRIPT |

(LINK \eps LINK) = LINK | < WS LINK_TAG WS LINK_ATTRIB WS OPTIONAL_SLASH WS >
(LINK \eps LINK_ATTRIB) = LINK_ATTRIB | LINK_ATTRIB LINK
(LINK_ATTRIB \eps LINK) = LINK |
(LINK \eps OPTIONAL_SLASH) = LINK |
(LINK \eps OPTIONAL_SLASH) = LINK | /
(LINK \eps LINK_TAG) = LINK | l i n k
(LINK \eps WS) = WS | WS LINK
(WS \eps LINK) = LINK |

(LINK_ATTRIB \eps LINK_ATTRIB) = LINK_ATTRIB | OPTIONAL_HREF r e l WS = WS " WORD " WSF OPTIONAL_HREF
(LINK_ATTRIB \eps OPTIONAL_HREF) = LINK_ATTRIB | h r e f WS = WS " WORD "
(LINK_ATTRIB \eps OPTIONAL_HREF) = LINK_ATTRIB |
(LINK_ATTRIB \eps WORD) = WORD | WORD LINK_ATTRIB
(WORD \eps LINK_ATTRIB) = LINK_ATTRIB | 
(LINK_ATTRIB \eps WS) = WS | WS LINK_ATTRIB
(WS \eps LINK_ATTRIB) = LINK_ATTRIB |
(LINK_ATTRIB \eps WSF) = WSF | WSF LINK_ATTRIB
(WSF \eps LINK_ATTRIB) = LINK_ATTRIB |

(HEAD \eps HEAD) = HEAD | < WS HEAD_TAG WS > WS HEAD_CHILD WS < WS / WS HEAD_TAG WS >
(HEAD \eps HEAD_TAG) = HEAD | h e a d
(HEAD \eps WS) = WS | WS HEAD
(WS \eps HEAD) = HEAD |
(HEAD \eps HEAD_CHILD) = HEAD_CHILD | HEAD_CHILD HEAD
(HEAD_CHILD \eps HEAD) = HEAD |

(HEAD_CHILD_BASE \eps HEAD_CHILD_BASE) = HEAD_CHILD_BASE | TITLE
(HEAD_CHILD_BASE \eps HEAD_CHILD_BASE) = HEAD_CHILD_BASE | SCRIPT
(HEAD_CHILD_BASE \eps HEAD_CHILD_BASE) = HEAD_CHILD_BASE | LINK
(HEAD_CHILD_BASE \eps TITLE) = TITLE | TITLE HEAD_CHILD_BASE
(TITLE \eps HEAD_CHILD_BASE) = HEAD_CHILD_BASE |
(HEAD_CHILD_BASE \eps SCRIPT) = SCRIPT | SCRIPT HEAD_CHILD_BASE
(SCRIPT \eps HEAD_CHILD_BASE) = HEAD_CHILD_BASE |
(HEAD_CHILD_BASE \eps LINK) = LINK | LINK HEAD_CHILD_BASE
(LINK \eps HEAD_CHILD_BASE) = HEAD_CHILD_BASE |

(HEAD_CHILD \eps HEAD_CHILD) = HEAD_CHILD |
(HEAD_CHILD \eps HEAD_CHILD) = HEAD_CHILD | HEAD_CHILD_BASE WS HEAD_CHILD
(HEAD_CHILD \eps HEAD_CHILD_BASE) = HEAD_CHILD_BASE | HEAD_CHILD_BASE HEAD_CHILD
(HEAD_CHILD_BASE \eps HEAD_CHILD) = HEAD_CHILD |
(HEAD_CHILD \eps WS) = WS | WS HEAD_CHILD
(WS \eps HEAD_CHILD) = HEAD_CHILD |

#Handing H
(H \eps H) = H | H1
(H \eps H) = H | H2
(H \eps H) = H | H3
(H \eps H) = H | H4
(H \eps H) = H | H5
(H \eps H) = H | H6
(H \eps H1) = H1 | H1 H
(H1 \eps H) = H |
(H \eps H2) = H2 | H2 H
(H2 \eps H) = H |
(H \eps H3) = H3 | H3 H
(H3 \eps H) = H |
(H \eps H4) = H4 | H4 H
(H4 \eps H) = H |
(H \eps H5) = H5 | H5 H
(H5 \eps H) = H |
(H \eps H6) = H6 | H6 H
(H6 \eps H) = H |

#handling H1
(H1 \eps H1) = H1 | < WS H1_TAG WS > WS SENTENCE WS < WS / WS H1_TAG WS >
(H1 \eps H1_TAG) = H1 | h 1
(H1 \eps WS) = WS | WS H1
(WS \eps H1) = H1 |
(H1 \eps SENTENCE) = SENTENCE | SENTENCE H1
(SENTENCE \eps H1) = H1 |

#Handling H2
(H2 \eps H2) = H2 | < WS H2_TAG WS > WS SENTENCE WS < WS / WS H2_TAG WS > 
(H2 \eps H2_TAG) = H2 | h 2
(H2 \eps WS) = WS | WS H2
(WS \eps H2) = H2 |
(WS \eps H2) = H2 |
(H2 \eps SENTENCE) = SENTENCE | SENTENCE H2
(SENTENCE \eps H2) = H2 |

#Handling H3
(H3 \eps H3) = H3 | < WS H3_TAG WS > WS SENTENCE WS < WS / WS H3_TAG WS >
(H3 \eps H3_TAG) = H3 | h 3
(H3 \eps WS) = WS | WS H3
(WS \eps H3) = H3 |
(WS \eps H3) = H3 |
(H3 \eps SENTENCE) = SENTENCE | SENTENCE H3
(SENTENCE \eps H3) = H3 |

#Handling H4
(H4 \eps H4) = H4 | < WS H4_TAG WS > WS SENTENCE WS < WS / WS H4_TAG WS >
(H4 \eps H4_TAG) = H4 | h 4
(H4 \eps WS) = WS | WS H4
(WS \eps H4) = H4 |
(WS \eps H4) = H4 |
(H4 \eps SENTENCE) = SENTENCE | SENTENCE H4
(SENTENCE \eps H4) = H4 |

#Handling H5
(H5 \eps H5) = H5 | < WS H5_TAG WS > WS SENTENCE WS < WS / WS H5_TAG WS >
(H5 \eps H5_TAG) = H5 | h 5
(H5 \eps WS) = WS | WS H5
(WS \eps H5) = H5 |
(WS \eps H5) = H5 |
(H5 \eps SENTENCE) = SENTENCE | SENTENCE H5
(SENTENCE \eps H5) = H5 |

#Handling H6
(H6 \eps H6) = H6 | < WS H6_TAG WS > WS SENTENCE WS < WS / WS H6_TAG WS >
(H6 \eps H6_TAG) = H6 | h 6
(H6 \eps WS) = WS | WS H6
(WS \eps H6) = H6 |
(WS \eps H6) = H6 |
(H6 \eps SENTENCE) = SENTENCE | SENTENCE H6
(SENTENCE \eps H6) = H6 |

(WS \eps WS) = WS | 
(WS \eps WS) = WS | WHITESPACE WS
(WS \eps WHITESPACE) = WHITESPACE | WHITESPACE WS
(WHITESPACE \eps WS) = WS |

(WSF \eps WSF) = WSF | WHITESPACE WS
(WSF \eps WHITESPACE) = WHITESPACE | WHITESPACE WSF
(WHITESPACE \eps WSF) = WSF |
(WSF \eps WS) = WS | WS WSF
(WS \eps WSF) = WSF |

(WHITESPACE \space WHITESPACE) = WHITESPACE |
(WHITESPACE \newline WHITESPACE) = WHITESPACE |

(NUMBER 0 NUMBER) = NUMBER |
(NUMBER 1 NUMBER) = NUMBER |
(NUMBER 2 NUMBER) = NUMBER |
(NUMBER 3 NUMBER) = NUMBER |
(NUMBER 4 NUMBER) = NUMBER |
(NUMBER 5 NUMBER) = NUMBER |
(NUMBER 6 NUMBER) = NUMBER |
(NUMBER 7 NUMBER) = NUMBER |
(NUMBER 8 NUMBER) = NUMBER |
(NUMBER 9 NUMBER) = NUMBER |

(LOWERCASE a LOWERCASE) = LOWERCASE |
(LOWERCASE b LOWERCASE) = LOWERCASE |
(LOWERCASE c LOWERCASE) = LOWERCASE |
(LOWERCASE d LOWERCASE) = LOWERCASE |
(LOWERCASE e LOWERCASE) = LOWERCASE |
(LOWERCASE f LOWERCASE) = LOWERCASE |
(LOWERCASE g LOWERCASE) = LOWERCASE |
(LOWERCASE h LOWERCASE) = LOWERCASE |
(LOWERCASE i LOWERCASE) = LOWERCASE |
(LOWERCASE j LOWERCASE) = LOWERCASE |
(LOWERCASE k LOWERCASE) = LOWERCASE |
(LOWERCASE l LOWERCASE) = LOWERCASE |
(LOWERCASE m LOWERCASE) = LOWERCASE |
(LOWERCASE n LOWERCASE) = LOWERCASE |
(LOWERCASE o LOWERCASE) = LOWERCASE |
(LOWERCASE p LOWERCASE) = LOWERCASE |
(LOWERCASE q LOWERCASE) = LOWERCASE |
(LOWERCASE r LOWERCASE) = LOWERCASE |
(LOWERCASE s LOWERCASE) = LOWERCASE |
(LOWERCASE t LOWERCASE) = LOWERCASE |
(LOWERCASE u LOWERCASE) = LOWERCASE |
(LOWERCASE v LOWERCASE) = LOWERCASE |
(LOWERCASE w LOWERCASE) = LOWERCASE |
(LOWERCASE x LOWERCASE) = LOWERCASE |
(LOWERCASE y LOWERCASE) = LOWERCASE |
(LOWERCASE z LOWERCASE) = LOWERCASE |

(UPPERCASE A UPPERCASE) = UPPERCASE |
(UPPERCASE B UPPERCASE) = UPPERCASE |
(UPPERCASE C UPPERCASE) = UPPERCASE |
(UPPERCASE D UPPERCASE) = UPPERCASE |
(UPPERCASE E UPPERCASE) = UPPERCASE |
(UPPERCASE F UPPERCASE) = UPPERCASE |
(UPPERCASE G UPPERCASE) = UPPERCASE |
(UPPERCASE H UPPERCASE) = UPPERCASE |
(UPPERCASE I UPPERCASE) = UPPERCASE |
(UPPERCASE J UPPERCASE) = UPPERCASE |
(UPPERCASE K UPPERCASE) = UPPERCASE |
(UPPERCASE L UPPERCASE) = UPPERCASE |
(UPPERCASE M UPPERCASE) = UPPERCASE |
(UPPERCASE N UPPERCASE) = UPPERCASE |
(UPPERCASE O UPPERCASE) = UPPERCASE |
(UPPERCASE P UPPERCASE) = UPPERCASE |
(UPPERCASE Q UPPERCASE) = UPPERCASE |
(UPPERCASE R UPPERCASE) = UPPERCASE |
(UPPERCASE S UPPERCASE) = UPPERCASE |
(UPPERCASE T UPPERCASE) = UPPERCASE |
(UPPERCASE U UPPERCASE) = UPPERCASE |
(UPPERCASE V UPPERCASE) = UPPERCASE |
(UPPERCASE W UPPERCASE) = UPPERCASE |
(UPPERCASE X UPPERCASE) = UPPERCASE |
(UPPERCASE Y UPPERCASE) = UPPERCASE |
(UPPERCASE Z UPPERCASE) = UPPERCASE |

(SYMBOL / SYMBOL) = SYMBOL |
(SYMBOL . SYMBOL) = SYMBOL |

(ALPHANUMERIC \eps ALPHANUMERIC) = ALPHANUMERIC | UPPERCASE
(ALPHANUMERIC \eps ALPHANUMERIC) = ALPHANUMERIC | LOWERCASE
(ALPHANUMERIC \eps ALPHANUMERIC) = ALPHANUMERIC | NUMBER
(ALPHANUMERIC \eps UPPERCASE) = UPPERCASE | UPPERCASE ALPHANUMERIC
(UPPERCASE \eps ALPHANUMERIC) = ALPHANUMERIC |
(ALPHANUMERIC \eps LOWERCASE) = LOWERCASE | LOWERCASE ALPHANUMERIC
(LOWERCASE \eps ALPHANUMERIC) = ALPHANUMERIC |
(ALPHANUMERIC \eps NUMBER) = NUMBER | NUMBER ALPHANUMERIC
(NUMBER \eps ALPHANUMERIC) = ALPHANUMERIC |

(WORD \eps WORD) = WORD |
(WORD \eps WORD) = WORD | ALPHANUMERIC WORD
(WORD \eps WORD) = WORD | SYMBOL WORD
(WORD \eps ALPHANUMERIC) = ALPHANUMERIC | ALPHANUMERIC WORD
(ALPHANUMERIC \eps WORD) = WORD |
(WORD \eps SYMBOL) = SYMBOL | SYMBOL WORD
(SYMBOL \eps WORD) = WORD |

(SENTENCE \eps SENTENCE) = SENTENCE |
(SENTENCE \eps SENTENCE) = SENTENCE | ALPHANUMERIC SENTENCE
(SENTENCE \eps SENTENCE) = SENTENCE | SYMBOL SENTENCE
(SENTENCE \eps SENTENCE) = SENTENCE | WHITESPACE SENTENCE
(SENTENCE \eps ALPHANUMERIC) = ALPHANUMERIC | ALPHANUMERIC SENTENCE
(ALPHANUMERIC \eps SENTENCE) = SENTENCE |
(SENTENCE \eps SYMBOL) = SYMBOL | SYMBOL SENTENCE
(SYMBOL \eps SENTENCE) = SENTENCE |
(SENTENCE \eps WHITESPACE) = WHITESPACE | WHITESPACE SENTENCE
(WHITESPACE \eps SENTENCE) = SENTENCE |
