
a b c d e f g h i j k l m n o p q r s t u v w x y z A B C D E F G H I J K L M N O P Q R S T U V W X Y Z . , : ; ! / \ & * + - @ ^ ~ _ " ' ` | { } [ ] ( ) < > # % $ = ? 1 2 3 4 5 6 7 8 9 0

Q
Z0


(Q \eps Z0) = HTML | HTML 

(HTML \eps HTML) = HTML | WS OPTIONAL_COMMENT < WS HTML_TAG GLOBAL_ATTRIB WS > WS OPTIONAL_COMMENT HEAD WS OPTIONAL_COMMENT BODY WS OPTIONAL_COMMENT < WS / WS HTML_TAG WS > WS OPTIONAL_COMMENT
(HTML \eps OPTIONAL_COMMENT) = HTML | COMMENT WS
(HTML \eps OPTIONAL_COMMENT) = HTML |
(HTML \eps HTML_TAG) = IGNORE_CASE | h t m l HTML
(IGNORE_CASE \eps HTML) = HTML |
(HTML \eps WS) = WS | WS HTML
(WS \eps HTML) = HTML |
(HTML \eps HEAD) = HEAD | HEAD HTML
(HEAD \eps HTML) = HTML |
(HTML \eps BODY) = BODY | BODY HTML
(BODY \eps HTML) = HTML |
(HTML \eps COMMENT) = COMMENT | COMMENT HTML
(COMMENT \eps HTML) = HTML |
(HTML \eps GLOBAL_ATTRIB) = GLOBAL_ATTRIB | GLOBAL_ATTRIB HTML
(GLOBAL_ATTRIB \eps HTML) = HTML |
(HTML < <) = HTML |
(HTML > >) = HTML |
(HTML / /) = HTML |

#Handle BodyChild
(BODY \eps BODY) = BODY | WS < WS BODY_TAG GLOBAL_ATTRIB WS > BODY_CHILD < WS / WS BODY_TAG WS > WS
(BODY \eps BODY_TAG) = IGNORE_CASE | b o d y BODY
(IGNORE_CASE \eps BODY) = BODY |
(BODY \eps WS) = WS | WS BODY
(WS \eps BODY) = BODY |
(BODY \eps HTML) = HTML |
(BODY \eps BODY_CHILD) = BODY_CHILD | BODY_CHILD BODY
(BODY_CHILD \eps BODY) = BODY |
(BODY \eps GLOBAL_ATTRIB) = GLOBAL_ATTRIB | GLOBAL_ATTRIB BODY
(GLOBAL_ATTRIB \eps BODY) = BODY |
(BODY < <) = BODY |
(BODY > >) = BODY |
(BODY / /) = BODY |

#Handling FORMATED_TEXT
(FORMATED_TEXT \eps FORMATED_TEXT) = FORMATED_TEXT | FORMATED_TEXT_BASE FORMATED_TEXT
(FORMATED_TEXT \eps FORMATED_TEXT) = FORMATED_TEXT | SENTENCE_CHAR FORMATED_TEXT
(FORMATED_TEXT \eps FORMATED_TEXT) = FORMATED_TEXT |
(FORMATED_TEXT \eps FORMATED_TEXT_BASE) = FORMATED_TEXT_BASE | FORMATED_TEXT_BASE FORMATED_TEXT
(FORMATED_TEXT_BASE \eps FORMATED_TEXT) = FORMATED_TEXT |
(FORMATED_TEXT \eps SENTENCE_CHAR) = SENTENCE_CHAR | SENTENCE_CHAR FORMATED_TEXT
(SENTENCE_CHAR \eps FORMATED_TEXT) = FORMATED_TEXT |

(BODY_CHILD_BASE \eps BODY_CHILD_BASE) = BODY_CHILD_BASE | DIV
(BODY_CHILD_BASE \eps BODY_CHILD_BASE) = BODY_CHILD_BASE | TABLE
(BODY_CHILD_BASE \eps BODY_CHILD_BASE) = BODY_CHILD_BASE | INPUT
(BODY_CHILD_BASE \eps BODY_CHILD_BASE) = BODY_CHILD_BASE | HEADING
(BODY_CHILD_BASE \eps BODY_CHILD_BASE) = BODY_CHILD_BASE | FORMATED_TEXT_BASE
(BODY_CHILD_BASE \eps BODY_CHILD_BASE) = BODY_CHILD_BASE | SENTENCE_CHAR
(BODY_CHILD_BASE \eps BODY_CHILD_BASE) = BODY_CHILD_BASE | PARAGRAPH
(BODY_CHILD_BASE \eps BODY_CHILD_BASE) = BODY_CHILD_BASE | BUTTON
(BODY_CHILD_BASE \eps BODY_CHILD_BASE) = BODY_CHILD_BASE | HR
(BODY_CHILD_BASE \eps BODY_CHILD_BASE) = BODY_CHILD_BASE | A_LINK
(BODY_CHILD_BASE \eps BODY_CHILD_BASE) = BODY_CHILD_BASE | FORM
(BODY_CHILD_BASE \eps BODY_CHILD_BASE) = BODY_CHILD_BASE | IMAGE
(BODY_CHILD_BASE \eps BODY_CHILD_BASE) = BODY_CHILD_BASE | SCRIPT
(BODY_CHILD_BASE \eps BODY_CHILD_BASE) = BODY_CHILD_BASE | COMMENT
(BODY_CHILD_BASE \eps DIV) = DIV | DIV BODY_CHILD_BASE
(DIV \eps BODY_CHILD_BASE) = BODY_CHILD_BASE |
(BODY_CHILD_BASE \eps TABLE) = TABLE | TABLE BODY_CHILD_BASE
(TABLE \eps BODY_CHILD_BASE) = BODY_CHILD_BASE |
(BODY_CHILD_BASE \eps HEADING) = HEADING | HEADING BODY_CHILD_BASE
(HEADING \eps BODY_CHILD_BASE) = BODY_CHILD_BASE |
(BODY_CHILD_BASE \eps INPUT) = INPUT | INPUT BODY_CHILD_BASE
(INPUT \eps BODY_CHILD_BASE) = BODY_CHILD_BASE |
(BODY_CHILD_BASE \eps FORMATED_TEXT_BASE) = FORMATED_TEXT_BASE | FORMATED_TEXT_BASE BODY_CHILD_BASE
(FORMATED_TEXT_BASE \eps BODY_CHILD_BASE) = BODY_CHILD_BASE |
(BODY_CHILD_BASE \eps PARAGRAPH) = PARAGRAPH | PARAGRAPH BODY_CHILD_BASE
(PARAGRAPH \eps BODY_CHILD_BASE) = BODY_CHILD_BASE |
(BODY_CHILD_BASE \eps BUTTON) = BUTTON | BUTTON BODY_CHILD_BASE
(BUTTON \eps BODY_CHILD_BASE) = BODY_CHILD_BASE |
(BODY_CHILD_BASE \eps HR) = HR | HR BODY_CHILD_BASE
(HR \eps BODY_CHILD_BASE) = BODY_CHILD_BASE |
(BODY_CHILD_BASE \eps A_LINK) = A_LINK | A_LINK BODY_CHILD_BASE
(A_LINK \eps BODY_CHILD_BASE) = BODY_CHILD_BASE |
(BODY_CHILD_BASE \eps FORM) = FORM | FORM BODY_CHILD_BASE
(FORM \eps BODY_CHILD_BASE) = BODY_CHILD_BASE |
(BODY_CHILD_BASE \eps IMAGE) = IMAGE | IMAGE BODY_CHILD_BASE
(IMAGE \eps BODY_CHILD_BASE) = BODY_CHILD_BASE |
(BODY_CHILD_BASE \eps SCRIPT) = SCRIPT | SCRIPT BODY_CHILD_BASE
(SCRIPT \eps BODY_CHILD_BASE) = BODY_CHILD_BASE |
(BODY_CHILD_BASE \eps COMMENT) = COMMENT | COMMENT BODY_CHILD_BASE
(COMMENT \eps BODY_CHILD_BASE) = BODY_CHILD_BASE |
(BODY_CHILD_BASE \eps SENTENCE_CHAR) = SENTENCE_CHAR | SENTENCE_CHAR BODY_CHILD_BASE
(SENTENCE_CHAR \eps BODY_CHILD_BASE) = BODY_CHILD_BASE |

#Handle BodyChildBase
(BODY_CHILD \eps BODY_CHILD) = BODY_CHILD |
(BODY_CHILD \eps BODY_CHILD) = BODY_CHILD | BODY_CHILD_BASE BODY_CHILD
(BODY_CHILD \eps BODY_CHILD_BASE) = BODY_CHILD_BASE | BODY_CHILD_BASE BODY_CHILD
(BODY_CHILD_BASE \eps BODY_CHILD) = BODY_CHILD | 

(DIV \eps DIV) = DIV | < WS DIV_TAG GLOBAL_ATTRIB WS > BODY_CHILD < WS / WS DIV_TAG WS >
(DIV \eps DIV_TAG) = IGNORE_CASE | d i v DIV
(IGNORE_CASE \eps DIV) = DIV |
(DIV \eps WS) = WS | WS DIV
(WS \eps DIV) = DIV | 
(DIV \eps BODY_CHILD) = BODY_CHILD | BODY_CHILD DIV
(BODY_CHILD \eps DIV) = DIV |
(DIV \eps GLOBAL_ATTRIB) = GLOBAL_ATTRIB | GLOBAL_ATTRIB DIV
(GLOBAL_ATTRIB \eps DIV) = DIV |
(DIV < <) = DIV |
(DIV > >) = DIV |
(DIV / /) = DIV |

(TABLE \eps TABLE) = TABLE | < WS TABLE_TAG GLOBAL_ATTRIB WS > WS THR WS < WS / WS TABLE_TAG WS >
(TABLE \eps TABLE) = TABLE | < WS TABLE_TAG WS > WS < WS / WS TABLE_TAG WS >
(TABLE \eps TABLE_TAG) = IGNORE_CASE | t a b l e TABLE
(IGNORE_CASE \eps TABLE) = TABLE |
(TABLE \eps WS) = WS | WS TABLE
(WS \eps TABLE) = TABLE |
(TABLE \eps THR) = THR | THR TABLE
(THR \eps TABLE) = TABLE | 
(TABLE \eps GLOBAL_ATTRIB) = GLOBAL_ATTRIB | GLOBAL_ATTRIB TABLE
(GLOBAL_ATTRIB \eps TABLE) = TABLE |
(TABLE < <) = TABLE |
(TABLE > >) = TABLE |
(TABLE / /) = TABLE |

(TH_BASE \eps TH_BASE) = TH_BASE | < WS TH_TAG GLOBAL_ATTRIB WS > WS TD WS < WS / WS TH_TAG WS >
(TH_BASE \eps TH_TAG) = IGNORE_CASE | t h TH_BASE
(IGNORE_CASE \eps TH_BASE) = TH_BASE |
(TH_BASE \eps WS) = WS | WS TH_BASE
(WS \eps TH_BASE) = TH_BASE |
(TH_BASE \eps TD) = TD | TD TH_BASE
(TD \eps TH_BASE) = TH_BASE |
(TH_BASE \eps GLOBAL_ATTRIB) = GLOBAL_ATTRIB | GLOBAL_ATTRIB TH_BASE
(GLOBAL_ATTRIB \eps TH_BASE) = TH_BASE |
(TH_BASE < <) = TH_BASE |
(TH_BASE > >) = TH_BASE |
(TH_BASE / /) = TH_BASE |

(TR_BASE \eps TR_BASE) = TR_BASE | < WS TR_TAG GLOBAL_ATTRIB WS > WS TD WS < WS / WS TR_TAG WS >
(TR_BASE \eps TR_TAG) = IGNORE_CASE | t r TR_BASE
(IGNORE_CASE \eps TR_BASE) = TR_BASE |
(TR_BASE \eps WS) = WS | WS TR_BASE
(WS \eps TR_BASE) = TR_BASE |
(TR_BASE \eps TD) = TD | TD TR_BASE
(TD \eps TR_BASE) = TR_BASE |
(TR_BASE \eps GLOBAL_ATTRIB) = GLOBAL_ATTRIB | GLOBAL_ATTRIB TR_BASE
(GLOBAL_ATTRIB \eps TR_BASE) = TR_BASE |
(TR_BASE > >) = TR_BASE |
(TR_BASE < <) = TR_BASE |
(TR_BASE / /) = TR_BASE |

(THR \eps THR) = THR | 
(THR \eps THR) = THR | TH_BASE WS THR
(THR \eps THR) = THR | TR_BASE WS THR
(THR \eps WS) = WS | WS THR
(WS \eps THR) = THR |
(THR \eps TH_BASE) = TH_BASE | TH_BASE THR
(TH_BASE \eps THR) = THR |
(THR \eps TR_BASE) = TR_BASE | TR_BASE THR
(TR_BASE \eps THR) = THR |

(TD_BASE \eps TD_BASE) = TD_BASE | < WS TD_TAG GLOBAL_ATTRIB WS > FORMATED_TEXT < WS / WS TD_TAG WS >
(TD_BASE \eps TD_TAG) = IGNORE_CASE | t d TD_BASE
(IGNORE_CASE \eps TD_BASE) = TD_BASE |
(TD_BASE \eps WS) = WS | WS TD_BASE
(WS \eps TD_BASE) = TD_BASE |
(TD_BASE \eps FORMATED_TEXT) = FORMATED_TEXT | FORMATED_TEXT TD_BASE
(FORMATED_TEXT \eps TD_BASE) = TD_BASE |
(TD_BASE \eps GLOBAL_ATTRIB) = GLOBAL_ATTRIB | GLOBAL_ATTRIB TD_BASE
(GLOBAL_ATTRIB \eps TD_BASE) = TD_BASE |
(TD_BASE < <) = TD_BASE |
(TD_BASE > >) = TD_BASE |
(TD_BASE / /) = TD_BASE |

(TD \eps TD) = TD |
(TD \eps TD) = TD | TD_BASE WS TD
(TD \eps TD_BASE) = TD_BASE | TD_BASE TD
(TD_BASE \eps TD) = TD |
(TD \eps WS) = WS | WS TD
(WS \eps TD) = TD |

(INPUT \eps INPUT) = INPUT | < WS INPUT_TAG INPUT_ATTRIB WS VOID_END
(INPUT \eps INPUT_TAG) = IGNORE_CASE | i n p u t INPUT
(IGNORE_CASE \eps INPUT) = INPUT |
(INPUT \eps VOID_END) = INPUT | OPTIONAL_SLASH WS >
(INPUT \eps VOID_END) = INPUT | > WS < WS / WS INPUT_TAG WS >
(INPUT \eps OPTIONAL_SLASH) = INPUT | 
(INPUT \eps OPTIONAL_SLASH) = INPUT | /
(INPUT \eps WS) = WS | WS INPUT
(WS \eps INPUT) = INPUT |
(INPUT \eps INPUT_ATTRIB) = INPUT_ATTRIB | INPUT_ATTRIB INPUT
(INPUT_ATTRIB \eps INPUT) = INPUT |
(INPUT < <) = INPUT |
(INPUT > >) = INPUT |
(INPUT / /) = INPUT |

(INPUT_TYPE \eps INPUT_TYPE) = INPUT_TYPE | WSF INPUT_TYPE_TYPE WS = WS " INPUT_TYPE_VALUE "
(INPUT_TYPE \eps INPUT_TYPE_TYPE) = IGNORE_CASE | t y p e INPUT_TYPE
(INPUT_TYPE \eps INPUT_TYPE_VALUE) = IGNORE_CASE | t e x t INPUT_TYPE
(INPUT_TYPE \eps INPUT_TYPE_VALUE) = IGNORE_CASE | p a s s w o r d INPUT_TYPE
(INPUT_TYPE \eps INPUT_TYPE_VALUE) = IGNORE_CASE | e m a i l INPUT_TYPE
(INPUT_TYPE \eps INPUT_TYPE_VALUE) = IGNORE_CASE | n u m b e r INPUT_TYPE
(INPUT_TYPE \eps INPUT_TYPE_VALUE) = IGNORE_CASE | c h e c k b o x INPUT_TYPE
(IGNORE_CASE \eps INPUT_TYPE) = INPUT_TYPE |
(INPUT_TYPE \eps WS) = WS | WS INPUT_TYPE
(WS \eps INPUT_TYPE) = INPUT_TYPE |
(INPUT_TYPE \eps WSF) = WSF | WSF INPUT_TYPE
(WSF \eps INPUT_TYPE) = INPUT_TYPE |
(INPUT_TYPE = =) = INPUT_TYPE |
(INPUT_TYPE " ") = INPUT_TYPE |

(INPUT_ATTRIB_BASE \eps INPUT_ATTRIB_BASE) = INPUT_ATTRIB_BASE | INPUT_TYPE
(INPUT_ATTRIB_BASE \eps INPUT_TYPE) = INPUT_TYPE | INPUT_TYPE INPUT_ATTRIB_BASE
(INPUT_TYPE \eps INPUT_ATTRIB_BASE) = INPUT_ATTRIB_BASE |

(INPUT_ATTRIB \eps INPUT_ATTRIB) = INPUT_ATTRIB |
(INPUT_ATTRIB \eps INPUT_ATTRIB) = INPUT_ATTRIB | INPUT_ATTRIB_BASE INPUT_ATTRIB
(INPUT_ATTRIB \eps INPUT_ATTRIB) = INPUT_ATTRIB | GLOBAL_ATTRIB_BASE INPUT_ATTRIB
(INPUT_ATTRIB \eps INPUT_ATTRIB_BASE) = INPUT_ATTRIB_BASE | INPUT_ATTRIB_BASE INPUT_ATTRIB
(INPUT_ATTRIB_BASE \eps INPUT_ATTRIB) = INPUT_ATTRIB |
(INPUT_ATTRIB \eps GLOBAL_ATTRIB_BASE) = GLOBAL_ATTRIB_BASE | GLOBAL_ATTRIB_BASE INPUT_ATTRIB
(GLOBAL_ATTRIB_BASE \eps INPUT_ATTRIB) = INPUT_ATTRIB |

(FORM \eps FORM) = FORM | < WS FORM_TAG GLOBAL_ATTRIB FORM_ATTRIB WS > BODY_CHILD < WS / WS FORM_TAG WS >
(FORM \eps FORM_TAG) = IGNORE_CASE | f o r m FORM
(IGNORE_CASE \eps FORM) = FORM |
(FORM \eps WS) = WS | WS FORM
(WS \eps FORM) = FORM |
(FORM \eps FORM_ATTRIB) = FORM_ATTRIB | FORM_ATTRIB FORM
(FORM_ATTRIB \eps FORM) = FORM |
(FORM \eps GLOBAL_ATTRIB) = GLOBAL_ATTRIB | GLOBAL_ATTRIB FORM
(GLOBAL_ATTRIB \eps FORM) = FORM |
(FORM \eps BODY_CHILD) = BODY_CHILD | BODY_CHILD FORM
(BODY_CHILD \eps FORM) = FORM |
(FORM < <) = FORM |
(FORM > >) = FORM |
(FORM / /) = FORM |

(FORM_ATTRIB_BASE \eps FORM_ATTRIB_BASE) = FORM_ATTRIB_BASE | WSF FORM_ATTRIB_BASE_ACTION WS = WS " WORD "
(FORM_ATTRIB_BASE \eps FORM_ATTRIB_BASE) = FORM_ATTRIB_BASE | WSF FORM_ATTRIB_BASE_METHOD WS = WS " FORM_METHOD "
(FORM_ATTRIB_BASE \eps FORM_ATTRIB_BASE_ACTION) = IGNORE_CASE | a c t i o n FORM_ATTRIB_BASE
(FORM_ATTRIB_BASE \eps FORM_ATTRIB_BASE_METHOD) = IGNORE_CASE | m e t h o d FORM_ATTRIB_BASE
(FORM_ATTRIB_BASE \eps FORM_METHOD) = IGNORE_CASE | g e t FORM_ATTRIB_BASE
(FORM_ATTRIB_BASE \eps FORM_METHOD) = IGNORE_CASE | p o s t FORM_ATTRIB_BASE
(IGNORE_CASE \eps FORM_ATTRIB_BASE) = FORM_ATTRIB_BASE |
(FORM_ATTRIB_BASE \eps WORD) = WORD | WORD FORM_ATTRIB_BASE
(WORD \eps FORM_ATTRIB_BASE) = FORM_ATTRIB_BASE |
(FORM_ATTRIB_BASE \eps WS) = WS | WS FORM_ATTRIB_BASE
(WS \eps FORM_ATTRIB_BASE) = FORM_ATTRIB_BASE |
(FORM_ATTRIB_BASE \eps WSF) = WSF | WSF FORM_ATTRIB_BASE
(WSF \eps FORM_ATTRIB_BASE) = FORM_ATTRIB_BASE |
(FORM_ATTRIB_BASE " ") = FORM_ATTRIB_BASE |
(FORM_ATTRIB_BASE = =) = FORM_ATTRIB_BASE |

(FORM_ATTRIB \eps FORM_ATTRIB) = FORM_ATTRIB |
(FORM_ATTRIB \eps FORM_ATTRIB) = FORM_ATTRIB | FORM_ATTRIB_BASE FORM_ATTRIB
(FORM_ATTRIB \eps FORM_ATTRIB) = FORM_ATTRIB | GLOBAL_ATTRIB_BASE FORM_ATTRIB
(FORM_ATTRIB \eps FORM_ATTRIB_BASE) = FORM_ATTRIB_BASE | FORM_ATTRIB_BASE FORM_ATTRIB
(FORM_ATTRIB_BASE \eps FORM_ATTRIB) = FORM_ATTRIB | 
(FORM_ATTRIB \eps GLOBAL_ATTRIB_BASE) = GLOBAL_ATTRIB_BASE | GLOBAL_ATTRIB_BASE FORM_ATTRIB
(GLOBAL_ATTRIB_BASE \eps FORM_ATTRIB) = FORM_ATTRIB |

(IMAGE \eps IMAGE) = IMAGE | < WS IMAGE_TAG GLOBAL_ATTRIB IMAGE_ATTRIB IMAGE_SRC IMAGE_ATTRIB WS VOID_END
(IMAGE \eps IMAGE_TAG) = IGNORE_CASE | i m g IMAGE
(IGNORE_CASE \eps IMAGE) = IMAGE |
(IMAGE \eps VOID_END) = IMAGE | OPTIONAL_SLASH WS >
(IMAGE \eps VOID_END) = IMAGE | > WS < WS / WS IMAGE_TAG WS >
(IMAGE \eps OPTIONAL_SLASH) = IMAGE |
(IMAGE \eps OPTIONAL_SLASH) = IMAGE | /
(IMAGE \eps IMAGE_SRC) = IMAGE_SRC | IMAGE_SRC IMAGE
(IMAGE_SRC \eps IMAGE) = IMAGE |
(IMAGE \eps IMAGE_ATTRIB) = IMAGE_ATTRIB | IMAGE_ATTRIB IMAGE
(IMAGE_ATTRIB \eps IMAGE) = IMAGE |
(IMAGE \eps WS) = WS | WS IMAGE
(WS \eps IMAGE) = IMAGE |
(IMAGE \eps GLOBAL_ATTRIB) = GLOBAL_ATTRIB | GLOBAL_ATTRIB IMAGE
(GLOBAL_ATTRIB \eps IMAGE) = IMAGE |
(IMAGE < <) = IMAGE |
(IMAGE > >) = IMAGE |
(IMAGE / /) = IMAGE |

(IMAGE_SRC \eps IMAGE_SRC) = IMAGE_SRC | WSF IMAGE_SRC_SRC WS = WS " WORD "
(IMAGE_SRC \eps IMAGE_SRC_SRC) = IGNORE_CASE | s r c IMAGE_SRC
(IGNORE_CASE \eps IMAGE_SRC) = IMAGE_SRC |
(IMAGE_SRC \eps WORD) = WORD | WORD IMAGE_SRC
(WORD \eps IMAGE_SRC) = IMAGE_SRC |
(IMAGE_SRC \eps WSF) = WSF | WSF IMAGE_SRC
(WSF \eps IMAGE_SRC) = IMAGE_SRC |
(IMAGE_SRC \eps WS) = WS | WS IMAGE_SRC
(WS \eps IMAGE_SRC) = IMAGE_SRC |
(IMAGE_SRC " ") = IMAGE_SRC |
(IMAGE_SRC = =) = IMAGE_SRC |

(IMAGE_ATTRIB_BASE \eps IMAGE_ATTRIB_BASE) = IMAGE_ATTRIB_BASE | WSF IMAGE_ATTRIB_BASE_ALT WS = WS " SENTENCE "
(IMAGE_ATTRIB_BASE \eps IMAGE_ATTRIB_BASE_ALT) = IGNORE_CASE | a l t IMAGE_ATTRIB_BASE
(IGNORE_CASE \eps IMAGE_ATTRIB_BASE) = IMAGE_ATTRIB_BASE |
(IMAGE_ATTRIB_BASE \eps IMAGE_ATTRIB_BASE) = IMAGE_ATTRIB_BASE | IMAGE_SRC
(IMAGE_ATTRIB_BASE \eps SENTENCE) = SENTENCE | SENTENCE IMAGE_ATTRIB_BASE
(SENTENCE \eps IMAGE_ATTRIB_BASE) = IMAGE_ATTRIB_BASE |
(IMAGE_ATTRIB_BASE \eps IMAGE_SRC) = IMAGE_SRC | IMAGE_SRC IMAGE_ATTRIB_BASE
(IMAGE_SRC \eps IMAGE_ATTRIB_BASE) = IMAGE_ATTRIB_BASE |
(IMAGE_ATTRIB_BASE \eps WSF) = WSF | WSF IMAGE_ATTRIB_BASE
(WSF \eps IMAGE_ATTRIB_BASE) = IMAGE_ATTRIB_BASE |
(IMAGE_ATTRIB_BASE \eps WS) = WS | WS IMAGE_ATTRIB_BASE
(WS \eps IMAGE_ATTRIB_BASE) = IMAGE_ATTRIB_BASE |
(IMAGE_ATTRIB_BASE " ") = IMAGE_ATTRIB_BASE |
(IMAGE_ATTRIB_BASE = =) = IMAGE_ATTRIB_BASE |

(IMAGE_ATTRIB \eps IMAGE_ATTRIB) = IMAGE_ATTRIB | 
(IMAGE_ATTRIB \eps IMAGE_ATTRIB) = IMAGE_ATTRIB | IMAGE_ATTRIB_BASE IMAGE_ATTRIB
(IMAGE_ATTRIB \eps IMAGE_ATTRIB) = IMAGE_ATTRIB | GLOBAL_ATTRIB_BASE IMAGE_ATTRIB
(IMAGE_ATTRIB \eps IMAGE_ATTRIB_BASE) = IMAGE_ATTRIB_BASE | IMAGE_ATTRIB_BASE IMAGE_ATTRIB
(IMAGE_ATTRIB_BASE \eps IMAGE_ATTRIB) = IMAGE_ATTRIB |
(IMAGE_ATTRIB \eps GLOBAL_ATTRIB_BASE) = GLOBAL_ATTRIB_BASE | GLOBAL_ATTRIB_BASE IMAGE_ATTRIB
(GLOBAL_ATTRIB_BASE \eps IMAGE_ATTRIB) = IMAGE_ATTRIB |

(TITLE \eps TITLE) = TITLE | < WS TITLE_TAG GLOBAL_ATTRIB WS > SENTENCE < WS / WS TITLE_TAG WS >
(TITLE \eps TITLE_TAG) = IGNORE_CASE | t i t l e TITLE
(IGNORE_CASE \eps TITLE) = TITLE |
(TITLE \eps WS) = WS | WS TITLE
(WS \eps TITLE) = TITLE |
(TITLE \eps SENTENCE) = SENTENCE | SENTENCE TITLE
(SENTENCE \eps TITLE) = TITLE |
(TITLE \eps GLOBAL_ATTRIB) = GLOBAL_ATTRIB | GLOBAL_ATTRIB TITLE
(GLOBAL_ATTRIB \eps TITLE) = TITLE |
(TITLE < <) = TITLE |
(TITLE > >) = TITLE |
(TITLE / /) = TITLE |

(SCRIPT_CHAR \eps SCRIPT_CHAR) = SCRIPT_CHAR |
(SCRIPT_CHAR \eps SCRIPT_CHAR) = SCRIPT_CHAR | SENTENCE_CHAR SCRIPT_CHAR
(SCRIPT_CHAR < SCRIPT_CHAR) = SCRIPT_CHAR | SCRIPT_CHAR
(SCRIPT_CHAR > SCRIPT_CHAR) = SCRIPT_CHAR | SCRIPT_CHAR
(SCRIPT_CHAR " SCRIPT_CHAR) = SCRIPT_CHAR | SCRIPT_CHAR
(SCRIPT_CHAR \eps SENTENCE_CHAR) = SENTENCE_CHAR | SENTENCE_CHAR SCRIPT_CHAR
(SENTENCE_CHAR \eps SCRIPT_CHAR) = SCRIPT_CHAR |

(SCRIPT \eps SCRIPT) = SCRIPT | < WS SCRIPT_TAG SCRIPT_ATTRIB WS > SCRIPT_CHAR < WS / WS SCRIPT_TAG WS >
(SCRIPT \eps SCRIPT_TAG) = IGNORE_CASE | s c r i p t SCRIPT
(IGNORE_CASE \eps SCRIPT) = SCRIPT |
(SCRIPT \eps SCRIPT_ATTRIB) = SCRIPT_ATTRIB | SCRIPT_ATTRIB SCRIPT
(SCRIPT_ATTRIB \eps SCRIPT) = SCRIPT |
(SCRIPT \eps WS) = WS | WS SCRIPT
(WS \eps SCRIPT) = SCRIPT |
(SCRIPT \eps SCRIPT_CHAR) = SCRIPT_CHAR | SCRIPT_CHAR SCRIPT
(SCRIPT_CHAR \eps SCRIPT) = SCRIPT |
(SCRIPT < <) = SCRIPT |
(SCRIPT > >) = SCRIPT |
(SCRIPT / /) = SCRIPT |

(SCRIPT_SRC \eps SCRIPT_SRC) = SCRIPT_SRC | WSF SCRIPT_SRC_SRC WS = WS " WORD "
(SCRIPT_SRC \eps SCRIPT_SRC_SRC) = IGNORE_CASE | s r c SCRIPT_SRC
(IGNORE_CASE \eps SCRIPT_SRC) = SCRIPT_SRC |
(SCRIPT_SRC \eps WORD) = WORD | WORD SCRIPT_SRC
(WORD \eps SCRIPT_SRC) = SCRIPT_SRC |
(SCRIPT_SRC \eps WSF) = WSF | WSF SCRIPT_SRC
(WSF \eps SCRIPT_SRC) = SCRIPT_SRC |
(SCRIPT_SRC \eps WS) = WS | WS SCRIPT_SRC
(WS \eps SCRIPT_SRC) = SCRIPT_SRC |
(SCRIPT_SRC " ") = SCRIPT_SRC |
(SCRIPT_SRC = =) = SCRIPT_SRC |

(SCRIPT_ATTRIB_BASE \eps SCRIPT_ATTRIB_BASE) = SCRIPT_ATTRIB_BASE | SCRIPT_SRC
(SCRIPT_ATTRIB_BASE \eps SCRIPT_SRC) = SCRIPT_SRC | SCRIPT_SRC SCRIPT_ATTRIB_BASE
(SCRIPT_SRC \eps SCRIPT_ATTRIB_BASE) = SCRIPT_ATTRIB_BASE |
(SCRIPT_ATTRIB_BASE \eps WSF) = WSF | WSF SCRIPT_ATTRIB_BASE
(WSF \eps SCRIPT_ATTRIB_BASE) = SCRIPT_ATTRIB_BASE |
(SCRIPT_ATTRIB_BASE \eps WS) = WS | WS SCRIPT_ATTRIB_BASE
(WS \eps SCRIPT_ATTRIB_BASE) = SCRIPT_ATTRIB_BASE |

(SCRIPT_ATTRIB \eps SCRIPT_ATTRIB) = SCRIPT_ATTRIB |
(SCRIPT_ATTRIB \eps SCRIPT_ATTRIB) = SCRIPT_ATTRIB | SCRIPT_ATTRIB_BASE SCRIPT_ATTRIB
(SCRIPT_ATTRIB \eps SCRIPT_ATTRIB) = SCRIPT_ATTRIB | GLOBAL_ATTRIB_BASE SCRIPT_ATTRIB
(SCRIPT_ATTRIB \eps SCRIPT_ATTRIB_BASE) = SCRIPT_ATTRIB_BASE | SCRIPT_ATTRIB_BASE SCRIPT_ATTRIB
(SCRIPT_ATTRIB_BASE \eps SCRIPT_ATTRIB) = SCRIPT_ATTRIB |
(SCRIPT_ATTRIB \eps GLOBAL_ATTRIB_BASE) = GLOBAL_ATTRIB_BASE | GLOBAL_ATTRIB_BASE SCRIPT_ATTRIB
(GLOBAL_ATTRIB_BASE \eps SCRIPT_ATTRIB) = SCRIPT_ATTRIB |

(LINK \eps LINK) = LINK | < WS LINK_TAG WS LINK_ATTRIB LINK_REL LINK_ATTRIB WS VOID_END
(LINK \eps VOID_END) = LINK | OPTIONAL_SLASH WS >
(LINK \eps VOID_END) = LINK | WS > WS < WS / WS LINK_TAG WS >
(LINK \eps OPTIONAL_SLASH) = LINK |
(LINK \eps OPTIONAL_SLASH) = LINK | /
(LINK \eps LINK_TAG) = IGNORE_CASE | l i n k LINK
(IGNORE_CASE \eps LINK) = LINK |
(LINK \eps WS) = WS | WS LINK
(WS \eps LINK) = LINK |
(LINK \eps LINK_ATTRIB) = LINK_ATTRIB | LINK_ATTRIB LINK
(LINK_ATTRIB \eps LINK) = LINK |
(LINK \eps LINK_REL) = LINK_REL | LINK_REL LINK
(LINK_REL \eps LINK) = LINK |
(LINK < <) = LINK |
(LINK > >) = LINK |
(LINK / /) = LINK |

(LINK_REL \eps LINK_REL) = LINK_REL | WSF LINK_REL_REL WS = WS " SENTENCE "
(LINK_REL \eps LINK_REL_REL) = IGNORE_CASE | r e l LINK_REL
(IGNORE_CASE \eps LINK_REL) = LINK_REL |
(LINK_REL \eps WSF) = WSF | WSF LINK_REL
(WSF \eps LINK_REL) = LINK_REL |
(LINK_REL \eps WS) = WS | WS LINK_REL
(WS \eps LINK_REL) = LINK_REL |
(LINK_REL \eps SENTENCE) = SENTENCE | SENTENCE LINK_REL
(SENTENCE \eps LINK_REL) = LINK_REL |
(LINK_REL " ") = LINK_REL |
(LINK_REL = =) = LINK_REL |

(LINK_ATTRIB_BASE \eps LINK_ATTRIB_BASE) = LINK_ATTRIB_BASE | WSF LINK_ATTRIB_BASE_HREF WS = WS " WORD "
(LINK_ATTRIB_BASE \eps LINK_ATTRIB_BASE_HREF) = IGNORE_CASE | h r e f LINK_ATTRIB_BASE
(IGNORE_CASE \eps LINK_ATTRIB_BASE) = LINK_ATTRIB_BASE |
(LINK_ATTRIB_BASE \eps LINK_ATTRIB_BASE) = LINK_ATTRIB_BASE | LINK_REL
(LINK_ATTRIB_BASE \eps WORD) = WORD | WORD LINK_ATTRIB_BASE
(WORD \eps LINK_ATTRIB_BASE) = LINK_ATTRIB_BASE |
(LINK_ATTRIB_BASE \eps WSF) = WSF | WSF LINK_ATTRIB_BASE
(WSF \eps LINK_ATTRIB_BASE) = LINK_ATTRIB_BASE |
(LINK_ATTRIB_BASE \eps WS) = WS | WS LINK_ATTRIB_BASE
(WS \eps LINK_ATTRIB_BASE) = LINK_ATTRIB_BASE |
(LINK_ATTRIB_BASE \eps SENTENCE) = SENTENCE | SENTENCE LINK_ATTRIB_BASE
(SENTENCE \eps LINK_REL) = LINK_ATTRIB_BASE |
(LINK_ATTRIB_BASE " ") = LINK_ATTRIB_BASE |
(LINK_ATTRIB_BASE = =) = LINK_ATTRIB_BASE |

(LINK_ATTRIB \eps LINK_ATTRIB) = LINK_ATTRIB |
(LINK_ATTRIB \eps LINK_ATTRIB) = LINK_ATTRIB | LINK_ATTRIB_BASE LINK_ATTRIB
(LINK_ATTRIB \eps LINK_ATTRIB) = LINK_ATTRIB | GLOBAL_ATTRIB_BASE LINK_ATTRIB
(LINK_ATTRIB \eps LINK_ATTRIB_BASE) = LINK_ATTRIB_BASE | LINK_ATTRIB_BASE LINK_ATTRIB
(LINK_ATTRIB_BASE \eps LINK_ATTRIB) = LINK_ATTRIB |
(LINK_ATTRIB \eps GLOBAL_ATTRIB_BASE) = GLOBAL_ATTRIB_BASE | GLOBAL_ATTRIB_BASE LINK_ATTRIB
(GLOBAL_ATTRIB_BASE \eps LINK_ATTRIB) = LINK_ATTRIB |

(HEAD \eps HEAD) = HEAD | < WS HEAD_TAG GLOBAL_ATTRIB WS > WS HEAD_CHILD WS < WS / WS HEAD_TAG WS >
(HEAD \eps HEAD_TAG) = IGNORE_CASE | h e a d HEAD
(IGNORE_CASE \eps HEAD) = HEAD |
(HEAD \eps WS) = WS | WS HEAD
(WS \eps HEAD) = HEAD |
(HEAD \eps HEAD_CHILD) = HEAD_CHILD | HEAD_CHILD HEAD
(HEAD_CHILD \eps HEAD) = HEAD |
(HEAD \eps GLOBAL_ATTRIB) = GLOBAL_ATTRIB | GLOBAL_ATTRIB HEAD
(GLOBAL_ATTRIB \eps HEAD) = HEAD |
(HEAD < <) = HEAD |
(HEAD > >) = HEAD |
(HEAD / /) = HEAD |

(HEAD_CHILD_BASE \eps HEAD_CHILD_BASE) = HEAD_CHILD_BASE | TITLE
(HEAD_CHILD_BASE \eps HEAD_CHILD_BASE) = HEAD_CHILD_BASE | SCRIPT
(HEAD_CHILD_BASE \eps HEAD_CHILD_BASE) = HEAD_CHILD_BASE | LINK
(HEAD_CHILD_BASE \eps HEAD_CHILD_BASE) = HEAD_CHILD_BASE | COMMENT
(HEAD_CHILD_BASE \eps TITLE) = TITLE | TITLE HEAD_CHILD_BASE
(TITLE \eps HEAD_CHILD_BASE) = HEAD_CHILD_BASE |
(HEAD_CHILD_BASE \eps SCRIPT) = SCRIPT | SCRIPT HEAD_CHILD_BASE
(SCRIPT \eps HEAD_CHILD_BASE) = HEAD_CHILD_BASE |
(HEAD_CHILD_BASE \eps LINK) = LINK | LINK HEAD_CHILD_BASE
(LINK \eps HEAD_CHILD_BASE) = HEAD_CHILD_BASE |
(HEAD_CHILD_BASE \eps COMMENT) = COMMENT | COMMENT HEAD_CHILD_BASE
(COMMENT \eps HEAD_CHILD_BASE) = HEAD_CHILD_BASE |

(HEAD_CHILD \eps HEAD_CHILD) = HEAD_CHILD |
(HEAD_CHILD \eps HEAD_CHILD) = HEAD_CHILD | HEAD_CHILD_BASE WS HEAD_CHILD
(HEAD_CHILD \eps HEAD_CHILD_BASE) = HEAD_CHILD_BASE | HEAD_CHILD_BASE HEAD_CHILD
(HEAD_CHILD_BASE \eps HEAD_CHILD) = HEAD_CHILD |
(HEAD_CHILD \eps WS) = WS | WS HEAD_CHILD
(WS \eps HEAD_CHILD) = HEAD_CHILD |

#Handing HEADING
(HEADING \eps HEADING) = HEADING | H1
(HEADING \eps HEADING) = HEADING | H2
(HEADING \eps HEADING) = HEADING | H3
(HEADING \eps HEADING) = HEADING | H4
(HEADING \eps HEADING) = HEADING | H5
(HEADING \eps HEADING) = HEADING | H6
(HEADING \eps H1) = H1 | H1 HEADING
(H1 \eps HEADING) = HEADING |
(HEADING \eps H2) = H2 | H2 HEADING
(H2 \eps HEADING) = HEADING |
(HEADING \eps H3) = H3 | H3 HEADING
(H3 \eps HEADING) = HEADING |
(HEADING \eps H4) = H4 | H4 HEADING
(H4 \eps HEADING) = HEADING |
(HEADING \eps H5) = H5 | H5 HEADING
(H5 \eps HEADING) = HEADING |
(HEADING \eps H6) = H6 | H6 HEADING
(H6 \eps HEADING) = HEADING |

#Handling FORMATED_TEXT_BASE
(FORMATED_TEXT_BASE \eps FORMATED_TEXT_BASE) = FORMATED_TEXT_BASE | EM
(FORMATED_TEXT_BASE \eps FORMATED_TEXT_BASE) = FORMATED_TEXT_BASE | BOLD
(FORMATED_TEXT_BASE \eps FORMATED_TEXT_BASE) = FORMATED_TEXT_BASE | ABBR
(FORMATED_TEXT_BASE \eps FORMATED_TEXT_BASE) = FORMATED_TEXT_BASE | STRONG
(FORMATED_TEXT_BASE \eps FORMATED_TEXT_BASE) = FORMATED_TEXT_BASE | SMALL
(FORMATED_TEXT_BASE \eps FORMATED_TEXT_BASE) = FORMATED_TEXT_BASE | BR
(FORMATED_TEXT_BASE \eps EM) = EM | EM FORMATED_TEXT_BASE
(EM \eps FORMATED_TEXT_BASE) = FORMATED_TEXT_BASE |
(FORMATED_TEXT_BASE \eps BOLD) = BOLD | BOLD FORMATED_TEXT_BASE
(BOLD \eps FORMATED_TEXT_BASE) = FORMATED_TEXT_BASE |
(FORMATED_TEXT_BASE \eps ABBR) = ABBR | ABBR FORMATED_TEXT_BASE
(ABBR \eps FORMATED_TEXT_BASE) = FORMATED_TEXT_BASE |
(FORMATED_TEXT_BASE \eps STRONG) = STRONG | STRONG FORMATED_TEXT_BASE
(STRONG \eps FORMATED_TEXT_BASE) = FORMATED_TEXT_BASE |
(FORMATED_TEXT_BASE \eps SMALL) = SMALL | SMALL FORMATED_TEXT_BASE
(SMALL \eps FORMATED_TEXT_BASE) = FORMATED_TEXT_BASE |
(FORMATED_TEXT_BASE \eps BR) = BR | BR FORMATED_TEXT_BASE
(BR \eps FORMATED_TEXT_BASE) = FORMATED_TEXT_BASE |

#handling H1
(H1 \eps H1) = H1 | < WS H1_TAG GLOBAL_ATTRIB WS > FORMATED_TEXT < WS / WS H1_TAG WS >
(H1 \eps H1_TAG) = IGNORE_CASE | h 1 H1
(IGNORE_CASE \eps H1) = H1 |
(H1 \eps WS) = WS | WS H1
(WS \eps H1) = H1 |
(H1 \eps FORMATED_TEXT) = FORMATED_TEXT | FORMATED_TEXT H1
(FORMATED_TEXT \eps H1) = H1 |
(H1 \eps GLOBAL_ATTRIB) = GLOBAL_ATTRIB | GLOBAL_ATTRIB H1
(GLOBAL_ATTRIB \eps H1) = H1 |
(H1 < <) = H1 |
(H1 > >) = H1 |
(H1 / /) = H1 |

#Handling H2
(H2 \eps H2) = H2 | < WS H2_TAG GLOBAL_ATTRIB WS > FORMATED_TEXT < WS / WS H2_TAG WS > 
(H2 \eps H2_TAG) = IGNORE_CASE | h 2 H2
(IGNORE_CASE \eps H2) = H2 |
(H2 \eps WS) = WS | WS H2
(WS \eps H2) = H2 |
(H2 \eps FORMATED_TEXT) = FORMATED_TEXT | FORMATED_TEXT H2
(FORMATED_TEXT \eps H2) = H2 |
(H2 \eps GLOBAL_ATTRIB) = GLOBAL_ATTRIB | GLOBAL_ATTRIB H2
(GLOBAL_ATTRIB \eps H2) = H2 |
(H2 < <) = H2 |
(H2 > >) = H2 |
(H2 / /) = H2 |

#Handling H3
(H3 \eps H3) = H3 | < WS H3_TAG GLOBAL_ATTRIB WS > FORMATED_TEXT < WS / WS H3_TAG WS >
(H3 \eps H3_TAG) = IGNORE_CASE | h 3 H3
(IGNORE_CASE \eps H3) = H3 |
(H3 \eps WS) = WS | WS H3
(WS \eps H3) = H3 |
(H3 \eps FORMATED_TEXT) = FORMATED_TEXT | FORMATED_TEXT H3
(FORMATED_TEXT \eps H3) = H3 |
(H3 \eps GLOBAL_ATTRIB) = GLOBAL_ATTRIB | GLOBAL_ATTRIB H3
(GLOBAL_ATTRIB \eps H3) = H3 |
(H3 < <) = H3 |
(H3 > >) = H3 |
(H3 / /) = H3 |

#Handling H4
(H4 \eps H4) = H4 | < WS H4_TAG GLOBAL_ATTRIB WS > FORMATED_TEXT < WS / WS H4_TAG WS >
(H4 \eps H4_TAG) = IGNORE_CASE | h 4 H4
(IGNORE_CASE \eps H4) = H4 |
(H4 \eps WS) = WS | WS H4
(WS \eps H4) = H4 |
(H4 \eps FORMATED_TEXT) = FORMATED_TEXT | FORMATED_TEXT H4
(FORMATED_TEXT \eps H4) = H4 |
(H4 \eps GLOBAL_ATTRIB) = GLOBAL_ATTRIB | GLOBAL_ATTRIB H4
(GLOBAL_ATTRIB \eps H4) = H4 |
(H4 < <) = H4 |
(H4 > >) = H4 |
(H4 / /) = H4 |

#Handling H5
(H5 \eps H5) = H5 | < WS H5_TAG GLOBAL_ATTRIB WS > FORMATED_TEXT < WS / WS H5_TAG WS >
(H5 \eps H5_TAG) = IGNORE_CASE | h 5 H5
(IGNORE_CASE \eps H5) = H5 |
(H5 \eps WS) = WS | WS H5
(WS \eps H5) = H5 |
(H5 \eps FORMATED_TEXT) = FORMATED_TEXT | FORMATED_TEXT H5
(FORMATED_TEXT \eps H5) = H5 |
(H5 \eps GLOBAL_ATTRIB) = GLOBAL_ATTRIB | GLOBAL_ATTRIB H5
(GLOBAL_ATTRIB \eps H5) = H5 |
(H5 < <) = H5 |
(H5 > >) = H5 |
(H5 / /) = H5 |

#Handling H6
(H6 \eps H6) = H6 | < WS H6_TAG GLOBAL_ATTRIB WS > FORMATED_TEXT < WS / WS H6_TAG WS >
(H6 \eps H6_TAG) = IGNORE_CASE | h 6 H6
(IGNORE_CASE \eps H6) = H6 |
(H6 \eps WS) = WS | WS H6
(WS \eps H6) = H6 |
(H6 \eps FORMATED_TEXT) = FORMATED_TEXT | FORMATED_TEXT H6
(FORMATED_TEXT \eps H6) = H6 |
(H6 \eps GLOBAL_ATTRIB) = GLOBAL_ATTRIB | GLOBAL_ATTRIB H6
(GLOBAL_ATTRIB \eps H6) = H6 |
(H6 < <) = H6 |
(H6 > >) = H6 |
(H6 / /) = H6 |

#Handling EM 
(EM \eps EM) = EM | < WS EM_TAG GLOBAL_ATTRIB WS > FORMATED_TEXT < WS / WS EM_TAG WS >
(EM \eps EM_TAG) = IGNORE_CASE | e m EM
(IGNORE_CASE \eps EM) = EM |
(EM \eps WS) = WS | WS EM
(WS \eps EM) = EM |
(EM \eps FORMATED_TEXT) = FORMATED_TEXT | FORMATED_TEXT EM
(FORMATED_TEXT \eps EM) = EM |
(EM \eps GLOBAL_ATTRIB) = GLOBAL_ATTRIB | GLOBAL_ATTRIB EM
(GLOBAL_ATTRIB \eps EM) = EM |
(EM < <) = EM |
(EM > >) = EM |
(EM / /) = EM |

#Handling BOLD
(BOLD \eps BOLD) = BOLD | < WS BOLD_TAG GLOBAL_ATTRIB WS > FORMATED_TEXT < WS / WS BOLD_TAG WS >
(BOLD \eps BOLD_TAG) = IGNORE_CASE | b BOLD
(IGNORE_CASE \eps BOLD) = BOLD |
(BOLD \eps WS) = WS | WS BOLD
(WS \eps BOLD) = BOLD |
(BOLD \eps FORMATED_TEXT) = FORMATED_TEXT | FORMATED_TEXT BOLD
(FORMATED_TEXT \eps BOLD) = BOLD |
(BOLD \eps GLOBAL_ATTRIB) = GLOBAL_ATTRIB | GLOBAL_ATTRIB BOLD
(GLOBAL_ATTRIB \eps BOLD) = BOLD |
(BOLD < <) = BOLD |
(BOLD > >) = BOLD |
(BOLD / /) = BOLD |

#Handling ABBR
(ABBR \eps ABBR) = ABBR | < WS ABBR_TAG GLOBAL_ATTRIB WS > FORMATED_TEXT < WS / WS ABBR_TAG WS >
(ABBR \eps ABBR_TAG) =  IGNORE_CASE | a b b r ABBR
(IGNORE_CASE \eps ABBR) = ABBR |
(ABBR \eps WS) = WS | WS ABBR
(WS \eps ABBR) = ABBR |
(ABBR \eps FORMATED_TEXT) = FORMATED_TEXT | FORMATED_TEXT ABBR
(FORMATED_TEXT \eps ABBR) = ABBR |
(ABBR \eps GLOBAL_ATTRIB) = GLOBAL_ATTRIB | GLOBAL_ATTRIB ABBR
(GLOBAL_ATTRIB \eps ABBR) = ABBR |
(ABBR < <) = ABBR |
(ABBR > >) = ABBR |
(ABBR / /) = ABBR |

#Handling STRONG 
(STRONG \eps STRONG) = STRONG | < WS STRONG_TAG GLOBAL_ATTRIB WS > FORMATED_TEXT < WS / WS STRONG_TAG WS >
(STRONG \eps STRONG_TAG) = IGNORE_CASE | s t r o n g STRONG
(IGNORE_CASE \eps STRONG) = STRONG |
(STRONG \eps WS) = WS | WS STRONG
(WS \eps STRONG) = STRONG |
(STRONG \eps FORMATED_TEXT) = FORMATED_TEXT | FORMATED_TEXT STRONG
(FORMATED_TEXT \eps STRONG) = STRONG |
(STRONG \eps GLOBAL_ATTRIB) = GLOBAL_ATTRIB | GLOBAL_ATTRIB STRONG
(GLOBAL_ATTRIB \eps STRONG) = STRONG |
(STRONG < <) = STRONG |
(STRONG > >) = STRONG |
(STRONG / /) = STRONG |

#Handling SMALL 
(SMALL \eps SMALL) = SMALL | < WS SMALL_TAG GLOBAL_ATTRIB WS > FORMATED_TEXT < WS / WS SMALL_TAG WS >
(SMALL \eps SMALL_TAG) = IGNORE_CASE | s m a l l SMALL
(IGNORE_CASE \eps SMALL) = SMALL |
(SMALL \eps WS) = WS | WS SMALL
(WS \eps SMALL) = SMALL |
(SMALL \eps FORMATED_TEXT) =  FORMATED_TEXT | FORMATED_TEXT SMALL
(FORMATED_TEXT \eps SMALL) = SMALL |
(SMALL \eps GLOBAL_ATTRIB) = GLOBAL_ATTRIB | GLOBAL_ATTRIB SMALL
(GLOBAL_ATTRIB \eps SMALL) = SMALL |
(SMALL < <) = SMALL |
(SMALL > >) = SMALL |
(SMALL / /) = SMALL |

#Handling P
(PARAGRAPH \eps PARAGRAPH) = PARAGRAPH | < WS P_TAG GLOBAL_ATTRIB WS > FORMATED_TEXT < WS / WS P_TAG WS >
(PARAGRAPH \eps P_TAG) = IGNORE_CASE | p PARAGRAPH
(IGNORE_CASE \eps PARAGRAPH) = PARAGRAPH |
(PARAGRAPH \eps WS) = WS | WS PARAGRAPH
(WS \eps PARAGRAPH) = PARAGRAPH |
(PARAGRAPH \eps FORMATED_TEXT) = FORMATED_TEXT | FORMATED_TEXT PARAGRAPH
(FORMATED_TEXT \eps PARAGRAPH) = PARAGRAPH |
(PARAGRAPH \eps GLOBAL_ATTRIB) = GLOBAL_ATTRIB | GLOBAL_ATTRIB PARAGRAPH
(GLOBAL_ATTRIB \eps PARAGRAPH) = PARAGRAPH |
(PARAGRAPH < <) = PARAGRAPH |
(PARAGRAPH > >) = PARAGRAPH |
(PARAGRAPH / /) = PARAGRAPH |

#Handling BUTTON
(BUTTON \eps BUTTON) = BUTTON | < WS BUTTON_TAG BUTTON_ATTRIB WS > FORMATED_TEXT < WS / WS BUTTON_TAG WS >
(BUTTON \eps BUTTON_TAG) = IGNORE_CASE | b u t t o n BUTTON
(IGNORE_CASE \eps BUTTON) = BUTTON |
(BUTTON \eps WS) = WS | WS BUTTON
(WS \eps BUTTON) = BUTTON |
(BUTTON \eps FORMATED_TEXT) = FORMATED_TEXT | FORMATED_TEXT BUTTON
(FORMATED_TEXT \eps BUTTON) = BUTTON |
(BUTTON \eps BUTTON_ATTRIB) = BUTTON_ATTRIB | BUTTON_ATTRIB BUTTON
(BUTTON_ATTRIB \eps BUTTON) = BUTTON |
(BUTTON < <) = BUTTON |
(BUTTON > >) = BUTTON |
(BUTTON / /) = BUTTON |

(BUTTON_TYPE \eps BUTTON_TYPE) = BUTTON_TYPE | WSF BUTTON_TYPE_TYPE WS = WS " BUTTON_TYPE_VALUE "
(BUTTON_TYPE \eps BUTTON_TYPE_TYPE) = IGNORE_CASE | t y p e BUTTON_TYPE
(IGNORE_CASE \eps BUTTON_TYPE) = BUTTON_TYPE |
(BUTTON_TYPE \eps BUTTON_TYPE_VALUE) = IGNORE_CASE | s u b m i t BUTTON_TYPE
(BUTTON_TYPE \eps BUTTON_TYPE_VALUE) = IGNORE_CASE | r e s e t BUTTON_TYPE
(BUTTON_TYPE \eps BUTTON_TYPE_VALUE) = IGNORE_CASE | b u t t o n BUTTON_TYPE
(IGNORE_CASE \eps BUTTON_TYPE) = BUTTON_TYPE |
(BUTTON_TYPE \eps WS) = WS | WS BUTTON_TYPE
(WS \eps BUTTON_TYPE) = BUTTON_TYPE |
(BUTTON_TYPE \eps WSF) = WSF | WSF BUTTON_TYPE
(WSF \eps BUTTON_TYPE) = BUTTON_TYPE |
(BUTTON_TYPE " ") = BUTTON_TYPE |
(BUTTON_TYPE = =) = BUTTON_TYPE |

(BUTTON_ATTRIB_BASE \eps BUTTON_ATTRIB_BASE) = BUTTON_ATTRIB_BASE | BUTTON_TYPE
(BUTTON_ATTRIB_BASE \eps BUTTON_TYPE) = BUTTON_TYPE | BUTTON_TYPE BUTTON_ATTRIB_BASE
(BUTTON_TYPE \eps BUTTON_ATTRIB_BASE) = BUTTON_ATTRIB_BASE |

(BUTTON_ATTRIB \eps BUTTON_ATTRIB) = BUTTON_ATTRIB |
(BUTTON_ATTRIB \eps BUTTON_ATTRIB) = BUTTON_ATTRIB | BUTTON_ATTRIB_BASE BUTTON_ATTRIB
(BUTTON_ATTRIB \eps BUTTON_ATTRIB) = BUTTON_ATTRIB | GLOBAL_ATTRIB_BASE BUTTON_ATTRIB
(BUTTON_ATTRIB \eps BUTTON_ATTRIB_BASE) = BUTTON_ATTRIB_BASE | BUTTON_ATTRIB_BASE BUTTON_ATTRIB
(BUTTON_ATTRIB_BASE \eps BUTTON_ATTRIB) = BUTTON_ATTRIB |
(BUTTON_ATTRIB \eps GLOBAL_ATTRIB_BASE) = GLOBAL_ATTRIB_BASE | GLOBAL_ATTRIB_BASE BUTTON_ATTRIB
(GLOBAL_ATTRIB_BASE \eps BUTTON_ATTRIB) = BUTTON_ATTRIB |

#Handling HR
(HR \eps HR) = HR | < WS HR_TAG GLOBAL_ATTRIB WS VOID_END
(HR \eps HR_TAG) = IGNORE_CASE | h r HR
(IGNORE_CASE \eps HR) = HR |
(HR \eps VOID_END) = HR | OPTIONAL_SLASH WS >
(HR \eps VOID_END) = HR | WS > WS < WS / WS HR_TAG WS >
(HR \eps OPTIONAL_SLASH) = HR | 
(HR \eps OPTIONAL_SLASH) = HR | /
(HR \eps WS) = WS | WS HR
(WS \eps HR) = HR |
(HR \eps GLOBAL_ATTRIB) = GLOBAL_ATTRIB | GLOBAL_ATTRIB HR
(GLOBAL_ATTRIB \eps HR) = HR |
(HR < <) = HR |
(HR > >) = HR |
(HR / /) = HR |

#Handling A
(A_LINK \eps A_LINK) = A_LINK | < WS A_LINK_TAG A_LINK_ATTRIB WS > FORMATED_TEXT < WS / WS A_LINK_TAG WS >
(A_LINK \eps A_LINK_TAG) = IGNORE_CASE | a A_LINK
(IGNORE_CASE \eps A_LINK) = A_LINK |
(A_LINK \eps A_LINK_ATTRIB) = A_LINK_ATTRIB | A_LINK_ATTRIB A_LINK
(A_LINK_ATTRIB \eps A_LINK) = A_LINK |
(A_LINK \eps WS) = WS | WS A_LINK
(WS \eps A_LINK) = A_LINK |
(A_LINK \eps FORMATED_TEXT) = FORMATED_TEXT | FORMATED_TEXT A_LINK
(FORMATED_TEXT \eps A_LINK) = A_LINK |
(A_LINK < <) = A_LINK |
(A_LINK > >) = A_LINK |
(A_LINK / /) = A_LINK |

(A_LINK_HREF \eps A_LINK_HREF) = A_LINK_HREF | WSF A_LINK_HREF_HREF WS = WS " WORD "
(A_LINK_HREF \eps A_LINK_HREF_HREF) = IGNORE_CASE | h r e f A_LINK_HREF
(IGNORE_CASE \eps A_LINK_HREF) = A_LINK_HREF |
(A_LINK_HREF \eps WORD) = WORD | WORD A_LINK_HREF
(WORD \eps A_LINK_HREF) = A_LINK_HREF |
(A_LINK_HREF \eps WSF) = WSF | WSF A_LINK_HREF
(WSF \eps A_LINK_HREF) = A_LINK_HREF |
(A_LINK_HREF \eps WS) = WS | WS A_LINK_HREF
(WS \eps A_LINK_HREF) = A_LINK_HREF |
(A_LINK_HREF " ") = A_LINK_HREF |
(A_LINK_HREF = =) = A_LINK_HREF |

(A_LINK_ATTRIB_BASE \eps A_LINK_ATTRIB_BASE) = A_LINK_ATTRIB_BASE | A_LINK_HREF
(A_LINK_ATTRIB_BASE \eps A_LINK_HREF) = A_LINK_HREF | A_LINK_HREF A_LINK_ATTRIB_BASE
(A_LINK_HREF \eps A_LINK_ATTRIB_BASE) = A_LINK_ATTRIB_BASE |

(A_LINK_ATTRIB \eps A_LINK_ATTRIB) = A_LINK_ATTRIB |
(A_LINK_ATTRIB \eps A_LINK_ATTRIB) = A_LINK_ATTRIB | A_LINK_ATTRIB_BASE A_LINK_ATTRIB
(A_LINK_ATTRIB \eps A_LINK_ATTRIB) = A_LINK_ATTRIB | GLOBAL_ATTRIB_BASE A_LINK_ATTRIB
(A_LINK_ATTRIB \eps A_LINK_ATTRIB_BASE) = A_LINK_ATTRIB_BASE | A_LINK_ATTRIB_BASE A_LINK_ATTRIB
(A_LINK_ATTRIB_BASE \eps A_LINK_ATTRIB) = A_LINK_ATTRIB |
(A_LINK_ATTRIB \eps GLOBAL_ATTRIB_BASE) = GLOBAL_ATTRIB_BASE | GLOBAL_ATTRIB_BASE A_LINK_ATTRIB
(GLOBAL_ATTRIB_BASE \eps A_LINK_ATTRIB) = A_LINK_ATTRIB |

#Handling COMMENT
(COMMENT \eps COMMENT) = COMMENT | < ! - - SENTENCE - - >
(COMMENT \eps SENTENCE) = SENTENCE | SENTENCE COMMENT
(SENTENCE \eps COMMENT) = COMMENT |
(COMMENT < <) = COMMENT |
(COMMENT > >) = COMMENT |
(COMMENT ! !) = COMMENT |
(COMMENT - -) = COMMENT |

#Handling BR
(BR \eps BR) = BR | < WS BR_TAG GLOBAL_ATTRIB WS VOID_END
(BR \eps BR_TAG) = IGNORE_CASE | b r BR
(IGNORE_CASE \eps BR) = BR |
(BR \eps VOID_END) = BR | OPTIONAL_SLASH WS >
(BR \eps VOID_END) = BR | WS > WS < WS / WS BR_TAG WS >
(BR \eps OPTIONAL_SLASH) = BR | 
(BR \eps OPTIONAL_SLASH) = BR | /
(BR \eps WS) = WS | WS BR
(WS \eps BR) = BR |
(BR \eps GLOBAL_ATTRIB) = GLOBAL_ATTRIB | GLOBAL_ATTRIB BR
(GLOBAL_ATTRIB \eps BR) = BR |
(BR < <) = BR |
(BR > >) = BR |
(BR / /) = BR |

#Global Attrib
(GLOBAL_ATTRIB_BASE \eps GLOBAL_ATTRIB_BASE) = GLOBAL_ATTRIB_BASE | WSF GLOBAL_ATTRIB_BASE_ID WS = WS " WORD_FORCE "
(GLOBAL_ATTRIB_BASE \eps GLOBAL_ATTRIB_BASE) = GLOBAL_ATTRIB_BASE | WSF GLOBAL_ATTRIB_BASE_CLASS WS = WS " SENTENCE "
(GLOBAL_ATTRIB_BASE \eps GLOBAL_ATTRIB_BASE) = GLOBAL_ATTRIB_BASE | WSF GLOBAL_ATTRIB_BASE_STYLE WS = WS " SENTENCE "
(GLOBAL_ATTRIB_BASE \eps GLOBAL_ATTRIB_BASE_ID) = IGNORE_CASE | i d GLOBAL_ATTRIB_BASE
(GLOBAL_ATTRIB_BASE \eps GLOBAL_ATTRIB_BASE_CLASS) = IGNORE_CASE | c l a s s GLOBAL_ATTRIB_BASE
(GLOBAL_ATTRIB_BASE \eps GLOBAL_ATTRIB_BASE_STYLE) = IGNORE_CASE | s t y l e GLOBAL_ATTRIB_BASE
(IGNORE_CASE \eps GLOBAL_ATTRIB_BASE) = GLOBAL_ATTRIB_BASE |
(GLOBAL_ATTRIB_BASE \eps WORD_FORCE) = WORD_FORCE | WORD_FORCE GLOBAL_ATTRIB_BASE
(WORD_FORCE \eps GLOBAL_ATTRIB_BASE) = GLOBAL_ATTRIB_BASE |
(GLOBAL_ATTRIB_BASE \eps SENTENCE) = SENTENCE | SENTENCE GLOBAL_ATTRIB_BASE
(SENTENCE \eps GLOBAL_ATTRIB_BASE) = GLOBAL_ATTRIB_BASE |
(GLOBAL_ATTRIB_BASE \eps WSF) = WSF | WSF GLOBAL_ATTRIB_BASE
(WSF \eps GLOBAL_ATTRIB_BASE) = GLOBAL_ATTRIB_BASE |
(GLOBAL_ATTRIB_BASE \eps WS) = WS | WS GLOBAL_ATTRIB_BASE
(WS \eps GLOBAL_ATTRIB_BASE) = GLOBAL_ATTRIB_BASE |
(GLOBAL_ATTRIB_BASE " ") = GLOBAL_ATTRIB_BASE |
(GLOBAL_ATTRIB_BASE = =) = GLOBAL_ATTRIB_BASE |

(GLOBAL_ATTRIB \eps GLOBAL_ATTRIB) = GLOBAL_ATTRIB | 
(GLOBAL_ATTRIB \eps GLOBAL_ATTRIB) = GLOBAL_ATTRIB | GLOBAL_ATTRIB_BASE GLOBAL_ATTRIB
(GLOBAL_ATTRIB \eps GLOBAL_ATTRIB_BASE) = GLOBAL_ATTRIB_BASE | GLOBAL_ATTRIB_BASE GLOBAL_ATTRIB
(GLOBAL_ATTRIB_BASE \eps GLOBAL_ATTRIB) = GLOBAL_ATTRIB |

(WS \eps WS) = WS | 
(WS \eps WS) = WS | WHITESPACE WS
(WS \eps WHITESPACE) = WHITESPACE | WHITESPACE WS
(WHITESPACE \eps WS) = WS |

(WSF \eps WSF) = WSF | WHITESPACE WS
(WSF \eps WHITESPACE) = WHITESPACE | WHITESPACE WSF
(WHITESPACE \eps WSF) = WSF |
(WSF \eps WS) = WS | WS WSF
(WS \eps WSF) = WSF |

(WHITESPACE \space WHITESPACE) = WHITESPACE |
(WHITESPACE \newline WHITESPACE) = WHITESPACE |

(NUMBER 0 NUMBER) = NUMBER |
(NUMBER 1 NUMBER) = NUMBER |
(NUMBER 2 NUMBER) = NUMBER |
(NUMBER 3 NUMBER) = NUMBER |
(NUMBER 4 NUMBER) = NUMBER |
(NUMBER 5 NUMBER) = NUMBER |
(NUMBER 6 NUMBER) = NUMBER |
(NUMBER 7 NUMBER) = NUMBER |
(NUMBER 8 NUMBER) = NUMBER |
(NUMBER 9 NUMBER) = NUMBER |

(LOWERCASE a LOWERCASE) = LOWERCASE |
(LOWERCASE b LOWERCASE) = LOWERCASE |
(LOWERCASE c LOWERCASE) = LOWERCASE |
(LOWERCASE d LOWERCASE) = LOWERCASE |
(LOWERCASE e LOWERCASE) = LOWERCASE |
(LOWERCASE f LOWERCASE) = LOWERCASE |
(LOWERCASE g LOWERCASE) = LOWERCASE |
(LOWERCASE h LOWERCASE) = LOWERCASE |
(LOWERCASE i LOWERCASE) = LOWERCASE |
(LOWERCASE j LOWERCASE) = LOWERCASE |
(LOWERCASE k LOWERCASE) = LOWERCASE |
(LOWERCASE l LOWERCASE) = LOWERCASE |
(LOWERCASE m LOWERCASE) = LOWERCASE |
(LOWERCASE n LOWERCASE) = LOWERCASE |
(LOWERCASE o LOWERCASE) = LOWERCASE |
(LOWERCASE p LOWERCASE) = LOWERCASE |
(LOWERCASE q LOWERCASE) = LOWERCASE |
(LOWERCASE r LOWERCASE) = LOWERCASE |
(LOWERCASE s LOWERCASE) = LOWERCASE |
(LOWERCASE t LOWERCASE) = LOWERCASE |
(LOWERCASE u LOWERCASE) = LOWERCASE |
(LOWERCASE v LOWERCASE) = LOWERCASE |
(LOWERCASE w LOWERCASE) = LOWERCASE |
(LOWERCASE x LOWERCASE) = LOWERCASE |
(LOWERCASE y LOWERCASE) = LOWERCASE |
(LOWERCASE z LOWERCASE) = LOWERCASE |

(UPPERCASE A UPPERCASE) = UPPERCASE |
(UPPERCASE B UPPERCASE) = UPPERCASE |
(UPPERCASE C UPPERCASE) = UPPERCASE |
(UPPERCASE D UPPERCASE) = UPPERCASE |
(UPPERCASE E UPPERCASE) = UPPERCASE |
(UPPERCASE F UPPERCASE) = UPPERCASE |
(UPPERCASE G UPPERCASE) = UPPERCASE |
(UPPERCASE H UPPERCASE) = UPPERCASE |
(UPPERCASE I UPPERCASE) = UPPERCASE |
(UPPERCASE J UPPERCASE) = UPPERCASE |
(UPPERCASE K UPPERCASE) = UPPERCASE |
(UPPERCASE L UPPERCASE) = UPPERCASE |
(UPPERCASE M UPPERCASE) = UPPERCASE |
(UPPERCASE N UPPERCASE) = UPPERCASE |
(UPPERCASE O UPPERCASE) = UPPERCASE |
(UPPERCASE P UPPERCASE) = UPPERCASE |
(UPPERCASE Q UPPERCASE) = UPPERCASE |
(UPPERCASE R UPPERCASE) = UPPERCASE |
(UPPERCASE S UPPERCASE) = UPPERCASE |
(UPPERCASE T UPPERCASE) = UPPERCASE |
(UPPERCASE U UPPERCASE) = UPPERCASE |
(UPPERCASE V UPPERCASE) = UPPERCASE |
(UPPERCASE W UPPERCASE) = UPPERCASE |
(UPPERCASE X UPPERCASE) = UPPERCASE |
(UPPERCASE Y UPPERCASE) = UPPERCASE |
(UPPERCASE Z UPPERCASE) = UPPERCASE |

(SYMBOL . SYMBOL) = SYMBOL |
(SYMBOL , SYMBOL) = SYMBOL |
(SYMBOL : SYMBOL) = SYMBOL |
(SYMBOL ; SYMBOL) = SYMBOL |
(SYMBOL ! SYMBOL) = SYMBOL |
(SYMBOL / SYMBOL) = SYMBOL |
(SYMBOL \ SYMBOL) = SYMBOL |
(SYMBOL & SYMBOL) = SYMBOL |
(SYMBOL * SYMBOL) = SYMBOL |
(SYMBOL + SYMBOL) = SYMBOL |
(SYMBOL - SYMBOL) = SYMBOL |
(SYMBOL @ SYMBOL) = SYMBOL |
(SYMBOL ^ SYMBOL) = SYMBOL |
(SYMBOL ~ SYMBOL) = SYMBOL |
(SYMBOL _ SYMBOL) = SYMBOL |
(SYMBOL ' SYMBOL) = SYMBOL |
(SYMBOL ` SYMBOL) = SYMBOL |
(SYMBOL | SYMBOL) = SYMBOL |
(SYMBOL { SYMBOL) = SYMBOL |
(SYMBOL } SYMBOL) = SYMBOL |
(SYMBOL [ SYMBOL) = SYMBOL |
(SYMBOL ] SYMBOL) = SYMBOL |
(SYMBOL ( SYMBOL) = SYMBOL |
(SYMBOL ) SYMBOL) = SYMBOL |
(SYMBOL # SYMBOL) = SYMBOL |
(SYMBOL % SYMBOL) = SYMBOL |
(SYMBOL $ SYMBOL) = SYMBOL |
(SYMBOL = SYMBOL) = SYMBOL |
(SYMBOL ? SYMBOL) = SYMBOL |

(IGNORE_CASE 0 0) = IGNORE_CASE |
(IGNORE_CASE 1 1) = IGNORE_CASE |
(IGNORE_CASE 2 2) = IGNORE_CASE |
(IGNORE_CASE 3 3) = IGNORE_CASE |
(IGNORE_CASE 4 4) = IGNORE_CASE |
(IGNORE_CASE 5 5) = IGNORE_CASE |
(IGNORE_CASE 6 6) = IGNORE_CASE |
(IGNORE_CASE 7 7) = IGNORE_CASE |
(IGNORE_CASE 8 8) = IGNORE_CASE |
(IGNORE_CASE 9 9) = IGNORE_CASE |

(IGNORE_CASE a a) = IGNORE_CASE |
(IGNORE_CASE b b) = IGNORE_CASE |
(IGNORE_CASE c c) = IGNORE_CASE |
(IGNORE_CASE d d) = IGNORE_CASE |
(IGNORE_CASE e e) = IGNORE_CASE |
(IGNORE_CASE f f) = IGNORE_CASE |
(IGNORE_CASE g g) = IGNORE_CASE |
(IGNORE_CASE h h) = IGNORE_CASE |
(IGNORE_CASE i i) = IGNORE_CASE |
(IGNORE_CASE j j) = IGNORE_CASE |
(IGNORE_CASE k k) = IGNORE_CASE |
(IGNORE_CASE l l) = IGNORE_CASE |
(IGNORE_CASE m m) = IGNORE_CASE |
(IGNORE_CASE n n) = IGNORE_CASE |
(IGNORE_CASE o o) = IGNORE_CASE |
(IGNORE_CASE p p) = IGNORE_CASE |
(IGNORE_CASE q q) = IGNORE_CASE |
(IGNORE_CASE r r) = IGNORE_CASE |
(IGNORE_CASE s s) = IGNORE_CASE |
(IGNORE_CASE t t) = IGNORE_CASE |
(IGNORE_CASE u u) = IGNORE_CASE |
(IGNORE_CASE v v) = IGNORE_CASE |
(IGNORE_CASE w w) = IGNORE_CASE |
(IGNORE_CASE x x) = IGNORE_CASE |
(IGNORE_CASE y y) = IGNORE_CASE |
(IGNORE_CASE z z) = IGNORE_CASE |

(IGNORE_CASE A a) = IGNORE_CASE |
(IGNORE_CASE B b) = IGNORE_CASE |
(IGNORE_CASE C c) = IGNORE_CASE |
(IGNORE_CASE D d) = IGNORE_CASE |
(IGNORE_CASE E e) = IGNORE_CASE |
(IGNORE_CASE F f) = IGNORE_CASE |
(IGNORE_CASE G g) = IGNORE_CASE |
(IGNORE_CASE H h) = IGNORE_CASE |
(IGNORE_CASE I i) = IGNORE_CASE |
(IGNORE_CASE J j) = IGNORE_CASE |
(IGNORE_CASE K k) = IGNORE_CASE |
(IGNORE_CASE L l) = IGNORE_CASE |
(IGNORE_CASE M m) = IGNORE_CASE |
(IGNORE_CASE N n) = IGNORE_CASE |
(IGNORE_CASE O o) = IGNORE_CASE |
(IGNORE_CASE P p) = IGNORE_CASE |
(IGNORE_CASE Q q) = IGNORE_CASE |
(IGNORE_CASE R r) = IGNORE_CASE |
(IGNORE_CASE S s) = IGNORE_CASE |
(IGNORE_CASE T t) = IGNORE_CASE |
(IGNORE_CASE U u) = IGNORE_CASE |
(IGNORE_CASE V v) = IGNORE_CASE |
(IGNORE_CASE W w) = IGNORE_CASE |
(IGNORE_CASE X x) = IGNORE_CASE |
(IGNORE_CASE Y y) = IGNORE_CASE |
(IGNORE_CASE Z z) = IGNORE_CASE |

(ALPHANUMERIC \eps ALPHANUMERIC) = ALPHANUMERIC | UPPERCASE
(ALPHANUMERIC \eps ALPHANUMERIC) = ALPHANUMERIC | LOWERCASE
(ALPHANUMERIC \eps ALPHANUMERIC) = ALPHANUMERIC | NUMBER
(ALPHANUMERIC \eps UPPERCASE) = UPPERCASE | UPPERCASE ALPHANUMERIC
(UPPERCASE \eps ALPHANUMERIC) = ALPHANUMERIC |
(ALPHANUMERIC \eps LOWERCASE) = LOWERCASE | LOWERCASE ALPHANUMERIC
(LOWERCASE \eps ALPHANUMERIC) = ALPHANUMERIC |
(ALPHANUMERIC \eps NUMBER) = NUMBER | NUMBER ALPHANUMERIC
(NUMBER \eps ALPHANUMERIC) = ALPHANUMERIC |

(WORD_CHAR \eps WORD_CHAR) = WORD_CHAR | ALPHANUMERIC
(WORD_CHAR \eps WORD_CHAR) = WORD_CHAR | SYMBOL
(WORD_CHAR \eps ALPHANUMERIC) = ALPHANUMERIC | ALPHANUMERIC WORD_CHAR
(ALPHANUMERIC \eps WORD_CHAR) = WORD_CHAR |
(WORD_CHAR \eps SYMBOL) = SYMBOL | SYMBOL WORD_CHAR
(SYMBOL \eps WORD_CHAR) = WORD_CHAR |

(WORD \eps WORD) = WORD |
(WORD \eps WORD) = WORD | WORD_CHAR WORD
(WORD \eps WORD_CHAR) = WORD_CHAR | WORD_CHAR WORD
(WORD_CHAR \eps WORD) = WORD |

(WORD_FORCE \eps WORD_FORCE) = WORD_FORCE | WORD_CHAR WORD
(WORD_FORCE \eps WORD_CHAR) = WORD_CHAR | WORD_CHAR WORD_FORCE
(WORD_CHAR \eps WORD_FORCE) = WORD_FORCE |
(WORD_FORCE \eps WORD) = WORD | WORD WORD_FORCE
(WORD \eps WORD_FORCE) = WORD_FORCE |

(SENTENCE_CHAR \eps SENTENCE_CHAR) = SENTENCE_CHAR | WORD_CHAR
(SENTENCE_CHAR \eps SENTENCE_CHAR) = SENTENCE_CHAR | WHITESPACE
(SENTENCE_CHAR \eps WORD_CHAR) =  WORD_CHAR | WORD_CHAR SENTENCE_CHAR
(WORD_CHAR \eps SENTENCE_CHAR) = SENTENCE_CHAR |
(SENTENCE_CHAR \eps WHITESPACE) = WHITESPACE | WHITESPACE SENTENCE_CHAR
(WHITESPACE \eps SENTENCE_CHAR) = SENTENCE_CHAR |

(SENTENCE \eps SENTENCE) = SENTENCE |
(SENTENCE \eps SENTENCE) = SENTENCE | SENTENCE_CHAR SENTENCE
(SENTENCE \eps SENTENCE_CHAR) = SENTENCE_CHAR | SENTENCE_CHAR SENTENCE
(SENTENCE_CHAR \eps SENTENCE) = SENTENCE |

(SENTENCE_FORCE \eps SENTENCE_FORCE) = SENTENCE_FORCE | SENTENCE_CHAR SENTENCE
(SENTENCE_FORCE \eps SENTENCE_CHAR) = SENTENCE_CHAR | SENTENCE_CHAR SENTENCE_FORCE
(SENTENCE_CHAR \eps SENTENCE_FORCE) = SENTENCE_FORCE |
(SENTENCE_FORCE \eps SENTENCE) = SENTENCE | SENTENCE SENTENCE_FORCE
(SENTENCE \eps SENTENCE_FORCE) = SENTENCE_FORCE |
