Q HTML
< a b c d e f g h i j k l m n o p q r s t u v w x y z A B C D E F G H I J K L M N O P Q . > /

Q
Z0


(Q \eps Z0) = HTML | HTML

(HTML \eps HTML) = HTML | WS < WS HTML_TAG WS > WS HEAD WS BODY WS < WS / WS HTML_TAG WS > WS
(HTML \eps HTML_TAG) = HTML | h t m l
(HTML \eps WS) = WS | WS HTML
(WS \eps HTML) = HTML |
(HTML \eps HEAD) = HEAD | HEAD HTML
(HEAD \eps HTML) = HTML |
(HTML \eps BODY) = BODY | BODY HTML
(BODY \eps HTML) = HTML |

(BODY \eps BODY) = BODY | WS < WS BODY_TAG WS > WS < WS / WS BODY_TAG WS > WS
(BODY \eps BODY_TAG) = BODY | b o d y
(BODY \eps WS) = WS | WS BODY
(WS \eps BODY) = BODY |
(BODY \eps HTML) = HTML |

(TITLE \eps TITLE) = TITLE | < WS TITLE_TAG WS > WS < WS / WS TITLE_TAG WS >
(TITLE \eps TITLE_TAG) = TITLE | t i t l e
(TITLE \eps WS) = WS | WS TITLE
(WS \eps TITLE) = TITLE |

(SCRIPT \eps SCRIPT) = SCRIPT | < WS SCRIPT_TAG WS > WS < WS / WS SCRIPT_TAG WS > 
(SCRIPT \eps SCRIPT_TAG) = SCRIPT | s c r i p t
(SCRIPT \eps WS) = WS | WS SCRIPT
(WS \eps SCRIPT) = SCRIPT |

(LINK \eps LINK) = LINK | < WS LINK_TAG WS OPTIONAL_SLASH WS / WS >
(LINK \eps OPTIONAL_SLASH) = LINK |
(LINK \eps OPTIONAL_SLASH) = LINK | /
(LINK \eps LINK_TAG) = LINK | l i n k
(LINK \eps WS) = WS | WS LINK
(WS \eps LINK) = LINK |

(HEAD \eps HEAD) = HEAD | < WS HEAD_TAG WS > WS HEAD_CHILD WS < WS / WS HEAD_TAG WS >
(HEAD \eps HEAD_TAG) = HEAD | h e a d
(HEAD \eps WS) = WS | WS HEAD
(WS \eps HEAD) = HEAD |
(HEAD \eps HEAD_CHILD) = HEAD_CHILD | HEAD_CHILD HEAD
(HEAD_CHILD \eps HEAD) = HEAD |


(HEAD_CHILD_BASE \eps HEAD_CHILD_BASE) = HEAD_CHILD_BASE | TITLE
(HEAD_CHILD_BASE \eps HEAD_CHILD_BASE) = HEAD_CHILD_BASE | SCRIPT
(HEAD_CHILD_BASE \eps HEAD_CHILD_BASE) = HEAD_CHILD_BASE | LINK
(HEAD_CHILD_BASE \eps TITLE) = TITLE | TITLE HEAD_CHILD_BASE
(TITLE \eps HEAD_CHILD_BASE) = HEAD_CHILD_BASE |
(HEAD_CHILD_BASE \eps SCRIPT) = SCRIPT | SCRIPT HEAD_CHILD_BASE
(SCRIPT \eps HEAD_CHILD_BASE) = HEAD_CHILD_BASE |
(HEAD_CHILD_BASE \eps LINK) = LINK | LINK HEAD_CHILD_BASE
(LINK \eps HEAD_CHILD_BASE) = HEAD_CHILD_BASE |

(HEAD_CHILD \eps HEAD_CHILD) = HEAD_CHILD |
(HEAD_CHILD \eps HEAD_CHILD) = HEAD_CHILD | HEAD_CHILD_BASE WS HEAD_CHILD
(HEAD_CHILD \eps HEAD_CHILD_BASE) = HEAD_CHILD_BASE | HEAD_CHILD_BASE HEAD_CHILD
(HEAD_CHILD_BASE \eps HEAD_CHILD) = HEAD_CHILD |
(HEAD_CHILD \eps WS) = WS | WS HEAD_CHILD
(WS \eps HEAD_CHILD) = HEAD_CHILD |



(WS \eps WS) = WS |
(WS \space WS) = WS | WS
(WS \newline WS) = WS | WS


(WB a WB) = WB |
(WB b WB) = WB |
(WB c WB) = WB |
(WB d WB) = WB |
(WB e WB) = WB |
(WB f WB) = WB |
(WB g WB) = WB |
(WB h WB) = WB |
(WB i WB) = WB |
(WB j WB) = WB |
(WB k WB) = WB |
(WB l WB) = WB |
(WB m WB) = WB |
(WB n WB) = WB |
(WB o WB) = WB |
(WB p WB) = WB |
(WB q WB) = WB |
(WB r WB) = WB |
(WB s WB) = WB |
(WB t WB) = WB |
(WB u WB) = WB |
(WB v WB) = WB |
(WB w WB) = WB |
(WB x WB) = WB |
(WB y WB) = WB |
(WB z WB) = WB |
(WB / WB) = WB |
(WB . WB) = WB |
(W \eps W) = W |
(W \eps W) = W | WB W
(W \eps WB) = WB | WB W
(WB \eps W) = W |